In [1]:
#Import dependencies
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine
import pandas as pd
import csv
import os

In [2]:
#Import csv data World_Happiness_Report_2015.csv
World_Happiness_Report_2015_csv = os.path.join("data/World_Happiness_Report_2015.csv")
World_Happiness_Report_2015_df = pd.read_csv(World_Happiness_Report_2015_csv)
World_Happiness_Report_2015_df.head()

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176

In [3]:
#Import csv data World_Happiness_Report_2016.csv
World_Happiness_Report_2016_csv = os.path.join("data/World_Happiness_Report_2016.csv")
World_Happiness_Report_2016_df = pd.read_csv(World_Happiness_Report_2016_csv)
World_Happiness_Report_2016_df.head()

,Country,Region,Happiness Rank,Happiness Score,Lower Confidence Interval,Upper Confidence Interval,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Denmark,Western Europe,1,7.526,7.460,7.592,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171,2.73939
1,Switzerland,Western Europe,2,7.509,7.428,7.590,1.52733,1.14524,0.86303,0.58557,0.41203,0.28083,2.69463
2,Iceland,Western Europe,3,7.501,7.333,7.669,1.42666,1.18326,0.86733,0.56624,0.14975,0.47678,2.83137
3,Norway,Western Europe,4,7.498,7.421,7.575,1.57744,1.12690,0.79579,0.59609,0.35776,0.37895,2.66465
4,Finland,Western Europe,5,7.413,7.351,7.475,1.40598,1.13464,0.81091,0.57104,0.41004,0.25492,2.82596

In [4]:
#Import csv data World_Happiness_Report_2017.csv
World_Happiness_Report_2017_csv = os.path.join("data/World_Happiness_Report_2017.csv")
World_Happiness_Report_2017_df = pd.read_csv(World_Happiness_Report_2017_csv)
World_Happiness_Report_2017_df.head()

,Country,Happiness.Rank,Happiness.Score,Whisker.high,Whisker.low,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Dystopia.Residual
0,Norway,1,7.537,7.594445,7.479556,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027
1,Denmark,2,7.522,7.581728,7.462272,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707
2,Iceland,3,7.504,7.622030,7.385970,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2.322715
3,Switzerland,4,7.494,7.561772,7.426227,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2.276716
4,Finland,5,7.469,7.527542,7.410458,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2.430182

In [5]:
#Import csv data Life_Expectancy_Data.csv
Life_Expectancy_Data_csv = os.path.join("data/Life_Expectancy_Data.csv")
Life_Expectancy_Data_df = pd.read_csv(Life_Expectancy_Data_csv)
#Loc 2015 data
Life_Expectancy_Data_df_2015 = Life_Expectancy_Data_df.loc[Life_Expectancy_Data_df['Year'] == 2015]
Life_Expectancy_Data_df_2015.head()

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
16,Albania,2015,Developing,77.8,74.0,0,4.60,364.975229,99.0,0,...,99.0,6.00,99.0,0.1,3954.227830,28873.0,1.2,1.3,0.762,14.2
32,Algeria,2015,Developing,75.6,19.0,21,NaN,0.000000,95.0,63,...,95.0,NaN,95.0,0.1,4132.762920,39871528.0,6.0,5.8,0.743,14.4
48,Angola,2015,Developing,52.4,335.0,66,NaN,0.000000,64.0,118,...,7.0,NaN,64.0,1.9,3695.793748,2785935.0,8.3,8.2,0.531,11.4
64,Antigua and Barbuda,2015,Developing,76.4,13.0,0,NaN,0.000000,99.0,0,...,86.0,NaN,99.0,0.2,13566.954100,NaN,3.3,3.3,0.784,13.9

In [6]:
#Import csv data World_Happiness_Report_2017.csv
weekly_hours_avg_worked_job_csv = os.path.join("data/Average_usual_weekly_hours_worked_on_the_main_job.csv")
weekly_hours_avg_worked_job_df = pd.read_csv(weekly_hours_avg_worked_job_csv)
weekly_hours_avg_worked_job_df.head()

,COUNTRY,Country,SEX,Sex,AGE,Age,EMPSTAT,Employment status,JOBTYPE,Job type,...,Time,Unit Code,Unit,PowerCode Code,PowerCode,Reference Period Code,Reference Period,Value,Flag Codes,Flags
0,AUS,Australia,MW,All persons,1524,15 to 24,DE,Dependent employment,FT,Full-time employment,...,2001,HOUR,Hours,0,Units,NaN,NaN,40.595747,NaN,NaN
1,AUS,Australia,MW,All persons,1524,15 to 24,DE,Dependent employment,FT,Full-time employment,...,2002,HOUR,Hours,0,Units,NaN,NaN,40.520806,NaN,NaN
2,AUS,Australia,MW,All persons,1524,15 to 24,DE,Dependent employment,FT,Full-time employment,...,2003,HOUR,Hours,0,Units,NaN,NaN,40.494284,NaN,NaN
3,AUS,Australia,MW,All persons,1524,15 to 24,DE,Dependent employment,FT,Full-time employment,...,2004,HOUR,Hours,0,Units,NaN,NaN,40.423635,NaN,NaN
4,AUS,Australia,MW,All persons,1524,15 to 24,DE,Dependent employment,FT,Full-time employment,...,2005,HOUR,Hours,0,Units,NaN,NaN,40.409336,NaN,NaN

In [7]:
#Merge  Life_Expectancy_Data_df_2015 and World_Happiness_Report_2015_df dataframes
World_Happiness_Life_Expectancy_df = World_Happiness_Report_2015_df.merge(Life_Expectancy_Data_df_2015, on=['Country'], how='left')
World_Happiness_Life_Expectancy_df.describe()
#Drop empty year
World_Happiness_Life_Expectancy_df = World_Happiness_Life_Expectancy_df.replace({'NaN': None})
World_Happiness_Life_Expectancy_df_dropyear = World_Happiness_Life_Expectancy_df[World_Happiness_Life_Expectancy_df.Year.notna()]
World_Happiness_Life_Expectancy_df_dropyear.head()

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,...,97.0,NaN,97.0,0.1,8989.84240,8282396.0,0.4,0.3,0.938,16.0
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,...,92.0,NaN,92.0,0.1,5734.44360,33815.0,1.0,0.9,0.919,19.0
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,...,93.0,NaN,93.0,0.1,5314.64416,5683483.0,1.1,0.9,0.923,19.2
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,...,95.0,NaN,95.0,0.1,7455.24654,518867.0,0.8,0.7,0.948,17.7
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,...,91.0,NaN,91.0,0.1,43315.74400,3584861.0,0.6,0.5,0.919,16.3

In [8]:
#import into DB
disk_engine = create_engine('sqlite:///DB/World_Happiness_Life_Expectancy_db.sqlite')
World_Happiness_Life_Expectancy_df_dropyear.to_sql('World_Happiness_Life_Expectancy_tb', disk_engine, if_exists='append')
df_sql_select_example = pd.read_sql_query('SELECT * FROM World_Happiness_Life_Expectancy_tb',disk_engine)
df_sql_select_example.head()

,index,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,...,97.0,NaN,97.0,0.1,8989.84240,8282396.0,0.4,0.3,0.938,16.0
1,1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,...,92.0,NaN,92.0,0.1,5734.44360,33815.0,1.0,0.9,0.919,19.0
2,2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,...,93.0,NaN,93.0,0.1,5314.64416,5683483.0,1.1,0.9,0.923,19.2
3,3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,...,95.0,NaN,95.0,0.1,7455.24654,518867.0,0.8,0.7,0.948,17.7
4,4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,...,91.0,NaN,91.0,0.1,43315.74400,3584861.0,0.6,0.5,0.919,16.3