In [1]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy.engine import reflection
from sqlalchemy import *
from sqlalchemy import Column, Integer, ForeignKey, String
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker, relationship
import pandas as pd

In [2]:
#engine = create_engine("sqlite:///../Resources/dow.sqlite")

engine = create_engine("sqlite:///../db/database.sqlite")

In [34]:
city_sql = ('SELECT city, bikes_available, time '
           #', ROW_NUMBER () OVER (PARTITION BY station_id ORDER BY COUNT(time) DESC) AS RowNum '
           'FROM status '
           'JOIN station ON status.station_id = station.id ')
           #'GROUP BY city, bikes_available ')
           #'WHERE RowNum = 1'
           #'ORDER BY bikes_available, row_ct DESC')

top_city_df2 = pd.read_sql(city_sql, engine.connect())

In [35]:
top_city_df2.head()

       city  bikes_available                 time
0  San Jose                2  2013/08/29 12:06:01
1  San Jose                2  2013/08/29 12:07:01
2  San Jose                2  2013/08/29 12:08:01
3  San Jose                2  2013/08/29 12:09:01
4  San Jose                2  2013/08/29 12:10:01

In [36]:
top_city_df2['time'] = pd.to_datetime(top_city_df2['time'])

In [37]:
top_city_df2['hour'] = top_city_df2['time'].dt.hour

In [38]:
top_city_df2.head()

       city  bikes_available                time  hour
0  San Jose                2 2013-08-29 12:06:01    12
1  San Jose                2 2013-08-29 12:07:01    12
2  San Jose                2 2013-08-29 12:08:01    12
3  San Jose                2 2013-08-29 12:09:01    12
4  San Jose                2 2013-08-29 12:10:01    12

In [45]:
top_city_gb = top_city_df2.groupby(['city', 'hour'])['bikes_available'].mean().unstack(level=1)

In [44]:
top_city_gb.head()

city           hour
Mountain View  0       8.050587
               1       8.049645
               2       8.051955
               3       8.053251
               4       8.054365
Name: bikes_available, dtype: float64

In [30]:
top_sql = ('SELECT city, bikes_available, COUNT(time) AS row_ct '
           #', ROW_NUMBER () OVER (PARTITION BY station_id ORDER BY COUNT(time) DESC) AS RowNum '
           'FROM status '
           'JOIN station ON status.station_id = station.id '
           'GROUP BY city, bikes_available ')
           #'WHERE RowNum = 1'
           #'ORDER BY bikes_available, row_ct DESC')

top_city = pd.read_sql(top_sql, engine.connect())

In [32]:
top_city_df = top_city

In [ ]:
top_city_df[''] = top_city_df.groupby([''])

In [33]:
top_city_df.head(5)

            city  bikes_available  row_ct
0  Mountain View                0   24238
1  Mountain View                1   73510
2  Mountain View                2  159560
3  Mountain View                3  290038
4  Mountain View                4  475999

In [47]:
top_busiest = top_city_df.loc[top_city_df['bikes_available'] == 0]

In [48]:
top_busiest

              city  bikes_available  row_ct
0    Mountain View                0   24238
24       Palo Alto                0    5478
45    Redwood City                0    6378
72   San Francisco                0  454321
100       San Jose                0   38589

In [ ]:
top_city_df['top_Rank'] = avg_city.groupby(['city', 'yr'])[''].rank(ascending=False)

In [113]:
year_extract = '201'
avg_sql = (f'SELECT city, substr(start_date, INSTR(start_date, {year_extract}), 4) as yr, avg(duration) as avg_trip '
           'FROM trip '
           'JOIN station ON trip.start_station_id = station.id '
           'GROUP BY city, yr'
          )

avg_city = pd.read_sql(avg_sql, engine.connect())

In [114]:
avg_city['avg_trip'] = avg_city['avg_trip']/60

In [ ]:
##clean up

In [115]:
avg_city['avg_trip'] = avg_city['avg_trip'].round()
avg_city

             city    yr  avg_trip
0   Mountain View  2013      47.0
1   Mountain View  2014      29.0
2   Mountain View  2015      27.0
3       Palo Alto  2013      83.0
4       Palo Alto  2014      62.0
5       Palo Alto  2015      79.0
6    Redwood City  2013      39.0
7    Redwood City  2014      52.0
8    Redwood City  2015      34.0
9   San Francisco  2013      20.0
10  San Francisco  2014      18.0
11  San Francisco  2015      15.0
12       San Jose  2013      25.0
13       San Jose  2014      22.0
14       San Jose  2015      23.0

In [117]:
avg_list = avg_city.to_dict('records')
avg_list

[{'city': 'Mountain View', 'yr': '2013', 'avg_trip': 47.0},
 {'city': 'Mountain View', 'yr': '2014', 'avg_trip': 29.0},
 {'city': 'Mountain View', 'yr': '2015', 'avg_trip': 27.0},
 {'city': 'Palo Alto', 'yr': '2013', 'avg_trip': 83.0},
 {'city': 'Palo Alto', 'yr': '2014', 'avg_trip': 62.0},
 {'city': 'Palo Alto', 'yr': '2015', 'avg_trip': 79.0},
 {'city': 'Redwood City', 'yr': '2013', 'avg_trip': 39.0},
 {'city': 'Redwood City', 'yr': '2014', 'avg_trip': 52.0},
 {'city': 'Redwood City', 'yr': '2015', 'avg_trip': 34.0},
 {'city': 'San Francisco', 'yr': '2013', 'avg_trip': 20.0},
 {'city': 'San Francisco', 'yr': '2014', 'avg_trip': 18.0},
 {'city': 'San Francisco', 'yr': '2015', 'avg_trip': 15.0},
 {'city': 'San Jose', 'yr': '2013', 'avg_trip': 25.0},
 {'city': 'San Jose', 'yr': '2014', 'avg_trip': 22.0},
 {'city': 'San Jose', 'yr': '2015', 'avg_trip': 23.0}]

In [118]:
yr_2013 = []
yr_2014 = []
yr_2015 = []
for item in avg_list:
    data = {}
    for k,v in item.items():
        if(k=='city'):
            data['axis'] = v
        if(k=='avg_trip'):
            data['value'] = v
        if(k=='yr'and v=='2013'):
            data['name'] = v
            yr_2013.append(data)
        elif(k=='yr'and v=='2014'):
            data['name'] = v
            yr_2014.append(data)
        elif(k=='yr'and v=='2015'):
            data['name'] = v
            yr_2015.append(data)

In [119]:
all_yr = [yr_2013, yr_2014, yr_2015]

In [120]:
all_yr

[[{'axis': 'Mountain View', 'name': '2013', 'value': 47.0},
  {'axis': 'Palo Alto', 'name': '2013', 'value': 83.0},
  {'axis': 'Redwood City', 'name': '2013', 'value': 39.0},
  {'axis': 'San Francisco', 'name': '2013', 'value': 20.0},
  {'axis': 'San Jose', 'name': '2013', 'value': 25.0}],
 [{'axis': 'Mountain View', 'name': '2014', 'value': 29.0},
  {'axis': 'Palo Alto', 'name': '2014', 'value': 62.0},
  {'axis': 'Redwood City', 'name': '2014', 'value': 52.0},
  {'axis': 'San Francisco', 'name': '2014', 'value': 18.0},
  {'axis': 'San Jose', 'name': '2014', 'value': 22.0}],
 [{'axis': 'Mountain View', 'name': '2015', 'value': 27.0},
  {'axis': 'Palo Alto', 'name': '2015', 'value': 79.0},
  {'axis': 'Redwood City', 'name': '2015', 'value': 34.0},
  {'axis': 'San Francisco', 'name': '2015', 'value': 15.0},
  {'axis': 'San Jose', 'name': '2015', 'value': 23.0}]]

In [121]:
year_extract = '201'
avg_station_sql = (f'SELECT city, name, substr(start_date, INSTR(start_date, {year_extract}), 4) as yr, ' +
                'avg(duration) as avg_trip ' +
                'FROM trip ' +
                'JOIN station ON trip.start_station_id = station.id ' +
                'GROUP BY city, name, yr'
            )

avg_station = pd.read_sql(avg_station_sql, engine.connect())

In [122]:
avg_station.head()

            city                              name    yr     avg_trip
0  Mountain View  Castro Street and El Camino Real  2014  1830.964374
1  Mountain View  Castro Street and El Camino Real  2015  1922.758454
2  Mountain View              Evelyn Park and Ride  2013  1004.867550
3  Mountain View              Evelyn Park and Ride  2014  1212.192265
4  Mountain View              Evelyn Park and Ride  2015  1066.955810

In [123]:
avg_station['avg_trip'] = avg_station['avg_trip']/60
avg_station['avg_trip'] = avg_station['avg_trip'].round()

In [124]:
avg_station_list = avg_station.to_dict('records')
avg_station_list

[{'city': 'Mountain View',
  'name': 'Castro Street and El Camino Real',
  'yr': '2014',
  'avg_trip': 31.0},
 {'city': 'Mountain View',
  'name': 'Castro Street and El Camino Real',
  'yr': '2015',
  'avg_trip': 32.0},
 {'city': 'Mountain View',
  'name': 'Evelyn Park and Ride',
  'yr': '2013',
  'avg_trip': 17.0},
 {'city': 'Mountain View',
  'name': 'Evelyn Park and Ride',
  'yr': '2014',
  'avg_trip': 20.0},
 {'city': 'Mountain View',
  'name': 'Evelyn Park and Ride',
  'yr': '2015',
  'avg_trip': 18.0},
 {'city': 'Mountain View',
  'name': 'Mountain View Caltrain Station',
  'yr': '2013',
  'avg_trip': 44.0},
 {'city': 'Mountain View',
  'name': 'Mountain View Caltrain Station',
  'yr': '2014',
  'avg_trip': 21.0},
 {'city': 'Mountain View',
  'name': 'Mountain View Caltrain Station',
  'yr': '2015',
  'avg_trip': 21.0},
 {'city': 'Mountain View',
  'name': 'Mountain View City Hall',
  'yr': '2013',
  'avg_trip': 20.0},
 {'city': 'Mountain View',
  'name': 'Mountain View City Hall',
  'yr': '2014',
  'avg_trip': 26.0},
 {'city': 'Mountain View',
  'name': 'Mountain View City Hall',
  'yr': '2015',
  'avg_trip': 18.0},
 {'city': 'Mountain View',
  'name': 'Rengstorff Avenue / California Street',
  'yr': '2013',
  'avg_trip': 134.0},
 {'city': 'Mountain View',
  'name': 'Rengstorff Avenue / California Street',
  'yr': '2014',
  'avg_trip': 73.0},
 {'city': 'Mountain View',
  'name': 'Rengstorff Avenue / California Street',
  'yr': '2015',
  'avg_trip': 31.0},
 {'city': 'Mountain View',
  'name': 'San Antonio Caltrain Station',
  'yr': '2013',
  'avg_trip': 44.0},
 {'city': 'Mountain View',
  'name': 'San Antonio Caltrain Station',
  'yr': '2014',
  'avg_trip': 47.0},
 {'city': 'Mountain View',
  'name': 'San Antonio Caltrain Station',
  'yr': '2015',
  'avg_trip': 26.0},
 {'city': 'Mountain View',
  'name': 'San Antonio Shopping Center',
  'yr': '2014',
  'avg_trip': 23.0},
 {'city': 'Mountain View',
  'name': 'San Antonio Shopping Center',
  'yr': '2015',
  'avg_trip': 60.0},
 {'city': 'Palo Alto',
  'name': 'California Ave Caltrain Station',
  'yr': '2013',
  'avg_trip': 94.0},
 {'city': 'Palo Alto',
  'name': 'California Ave Caltrain Station',
  'yr': '2014',
  'avg_trip': 72.0},
 {'city': 'Palo Alto',
  'name': 'California Ave Caltrain Station',
  'yr': '2015',
  'avg_trip': 74.0},
 {'city': 'Palo Alto',
  'name': 'Cowper at University',
  'yr': '2013',
  'avg_trip': 49.0},
 {'city': 'Palo Alto',
  'name': 'Cowper at University',
  'yr': '2014',
  'avg_trip': 37.0},
 {'city': 'Palo Alto',
  'name': 'Cowper at University',
  'yr': '2015',
  'avg_trip': 45.0},
 {'city': 'Palo Alto',
  'name': 'Palo Alto Caltrain Station',
  'yr': '2013',
  'avg_trip': 50.0},
 {'city': 'Palo Alto',
  'name': 'Palo Alto Caltrain Station',
  'yr': '2014',
  'avg_trip': 54.0},
 {'city': 'Palo Alto',
  'name': 'Palo Alto Caltrain Station',
  'yr': '2015',
  'avg_trip': 55.0},
 {'city': 'Palo Alto',
  'name': 'Park at Olive',
  'yr': '2013',
  'avg_trip': 80.0},
 {'city': 'Palo Alto',
  'name': 'Park at Olive',
  'yr': '2014',
  'avg_trip': 62.0},
 {'city': 'Palo Alto',
  'name': 'Park at Olive',
  'yr': '2015',
  'avg_trip': 86.0},
 {'city': 'Palo Alto',
  'name': 'University and Emerson',
  'yr': '2013',
  'avg_trip': 130.0},
 {'city': 'Palo Alto',
  'name': 'University and Emerson',
  'yr': '2014',
  'avg_trip': 91.0},
 {'city': 'Palo Alto',
  'name': 'University and Emerson',
  'yr': '2015',
  'avg_trip': 163.0},
 {'city': 'Redwood City',
  'name': 'Franklin at Maple',
  'yr': '2013',
  'avg_trip': 33.0},
 {'city': 'Redwood City',
  'name': 'Franklin at Maple',
  'yr': '2014',
  'avg_trip': 13.0},
 {'city': 'Redwood City',
  'name': 'Franklin at Maple',
  'yr': '2015',
  'avg_trip': 46.0},
 {'city': 'Redwood City',
  'name': 'Mezes Park',
  'yr': '2014',
  'avg_trip': 13.0},
 {'city': 'Redwood City',
  'name': 'Mezes Park',
  'yr': '2015',
  'avg_trip': 42.0},
 {'city': 'Redwood City',
  'name': 'Redwood City Caltrain Station',
  'yr': '2013',
  'avg_trip': 28.0},
 {'city': 'Redwood City',
  'name': 'Redwood City Caltrain Station',
  'yr': '2014',
  'avg_trip': 70.0},
 {'city': 'Redwood City',
  'name': 'Redwood City Caltrain Station',
  'yr': '2015',
  'avg_trip': 24.0},
 {'city': 'Redwood City',
  'name': 'Redwood City Medical Center',
  'yr': '2013',
  'avg_trip': 43.0},
 {'city': 'Redwood City',
  'name': 'Redwood City Medical Center',
  'yr': '2014',
  'avg_trip': 32.0},
 {'city': 'Redwood City',
  'name': 'Redwood City Medical Center',
  'yr': '2015',
  'avg_trip': 104.0},
 {'city': 'Redwood City',
  'name': 'Redwood City Public Library',
  'yr': '2013',
  'avg_trip': 173.0},
 {'city': 'Redwood City',
  'name': 'Redwood City Public Library',
  'yr': '2014',
  'avg_trip': 58.0},
 {'city': 'Redwood City',
  'name': 'Redwood City Public Library',
  'yr': '2015',
  'avg_trip': 53.0},
 {'city': 'Redwood City',
  'name': 'San Mateo County Center',
  'yr': '2013',
  'avg_trip': 24.0},
 {'city': 'Redwood City',
  'name': 'San Mateo County Center',
  'yr': '2014',
  'avg_trip': 67.0},
 {'city': 'Redwood City',
  'name': 'San Mateo County Center',
  'yr': '2015',
  'avg_trip': 39.0},
 {'city': 'Redwood City',
  'name': 'Stanford in Redwood City',
  'yr': '2013',
  'avg_trip': 20.0},
 {'city': 'Redwood City',
  'name': 'Stanford in Redwood City',
  'yr': '2014',
  'avg_trip': 43.0},
 {'city': 'Redwood City',
  'name': 'Stanford in Redwood City',
  'yr': '2015',
  'avg_trip': 18.0},
 {'city': 'San Francisco',
  'name': '2nd at Folsom',
  'yr': '2013',
  'avg_trip': 13.0},
 {'city': 'San Francisco',
  'name': '2nd at Folsom',
  'yr': '2014',
  'avg_trip': 9.0},
 {'city': 'San Francisco',
  'name': '2nd at Folsom',
  'yr': '2015',
  'avg_trip': 9.0},
 {'city': 'San Francisco',
  'name': '2nd at South Park',
  'yr': '2013',
  'avg_trip': 12.0},
 {'city': 'San Francisco',
  'name': '2nd at South Park',
  'yr': '2014',
  'avg_trip': 12.0},
 {'city': 'San Francisco',
  'name': '2nd at South Park',
  'yr': '2015',
  'avg_trip': 11.0},
 {'city': 'San Francisco',
  'name': '2nd at Townsend',
  'yr': '2013',
  'avg_trip': 14.0},
 {'city': 'San Francisco',
  'name': '2nd at Townsend',
  'yr': '2014',
  'avg_trip': 14.0},
 {'city': 'San Francisco',
  'name': '2nd at Townsend',
  'yr': '2015',
  'avg_trip': 12.0},
 {'city': 'San Francisco',
  'name': '5th at Howard',
  'yr': '2013',
  'avg_trip': 23.0},
 {'city': 'San Francisco',
  'name': '5th at Howard',
  'yr': '2014',
  'avg_trip': 14.0},
 {'city': 'San Francisco',
  'name': '5th at Howard',
  'yr': '2015',
  'avg_trip': 14.0},
 {'city': 'San Francisco',
  'name': 'Beale at Market',
  'yr': '2013',
  'avg_trip': 21.0},
 {'city': 'San Francisco',
  'name': 'Beale at Market',
  'yr': '2014',
  'avg_trip': 14.0},
 {'city': 'San Francisco',
  'name': 'Beale at Market',
  'yr': '2015',
  'avg_trip': 12.0},
 {'city': 'San Francisco',
  'name': 'Broadway St at Battery St',
  'yr': '2014',
  'avg_trip': 15.0},
 {'city': 'San Francisco',
  'name': 'Broadway St at Battery St',
  'yr': '2015',
  'avg_trip': 13.0},
 {'city': 'San Francisco',
  'name': 'Civic Center BART (7th at Market)',
  'yr': '2013',
  'avg_trip': 26.0},
 {'city': 'San Francisco',
  'name': 'Civic Center BART (7th at Market)',
  'yr': '2014',
  'avg_trip': 21.0},
 {'city': 'San Francisco',
  'name': 'Civic Center BART (7th at Market)',
  'yr': '2015',
  'avg_trip': 16.0},
 {'city': 'San Francisco',
  'name': 'Clay at Battery',
  'yr': '2013',
  'avg_trip': 19.0},
 {'city': 'San Francisco',
  'name': 'Clay at Battery',
  'yr': '2014',
  'avg_trip': 20.0},
 {'city': 'San Francisco',
  'name': 'Clay at Battery',
  'yr': '2015',
  'avg_trip': 15.0},
 {'city': 'San Francisco',
  'name': 'Commercial at Montgomery',
  'yr': '2013',
  'avg_trip': 13.0},
 {'city': 'San Francisco',
  'name': 'Commercial at Montgomery',
  'yr': '2014',
  'avg_trip': 13.0},
 {'city': 'San Francisco',
  'name': 'Commercial at Montgomery',
  'yr': '2015',
  'avg_trip': 13.0},
 {'city': 'San Francisco',
  'name': 'Davis at Jackson',
  'yr': '2013',
  'avg_trip': 21.0},
 {'city': 'San Francisco',
  'name': 'Davis at Jackson',
  'yr': '2014',
  'avg_trip': 16.0},
 {'city': 'San Francisco',
  'name': 'Davis at Jackson',
  'yr': '2015',
  'avg_trip': 14.0},
 {'city': 'San Francisco',
  'name': 'Embarcadero at Bryant',
  'yr': '2013',
  'avg_trip': 22.0},
 {'city': 'San Francisco',
  'name': 'Embarcadero at Bryant',
  'yr': '2014',
  'avg_trip': 17.0},
 {'city': 'San Francisco',
  'name': 'Embarcadero at Bryant',
  'yr': '2015',
  'avg_trip': 15.0},
 {'city': 'San Francisco',
  'name': 'Embarcadero at Folsom',
  'yr': '2013',
  'avg_trip': 15.0},
 {'city': 'San Francisco',
  'name': 'Embarcadero at Folsom',
  'yr': '2014',
  'avg_trip': 14.0},
 {'city': 'San Francisco',
  'name': 'Embarcadero at Folsom',
  'yr': '2015',
  'avg_trip': 13.0},
 {'city': 'San Francisco',
  'name': 'Embarcadero at Sansome',
  'yr': '2013',
  'avg_trip': 28.0},
 {'city': 'San Francisco',
  'name': 'Embarcadero at Sansome',
  'yr': '2014',
  'avg_trip': 24.0},
 {'city': 'San Francisco',
  'name': 'Embarcadero at Sansome',
  'yr': '2015',
  'avg_trip': 21.0},
 {'city': 'San Francisco',
  'name': 'Embarcadero at Vallejo',
  'yr': '2013',
  'avg_trip': 27.0},
 {'city': 'San Francisco',
  'name': 'Embarcadero at Vallejo',
  'yr': '2014',
  'avg_trip': 27.0},
 {'city': 'San Francisco',
  'name': 'Embarcadero at Vallejo',
  'yr': '2015',
  'avg_trip': 27.0},
 {'city': 'San Francisco',
  'name': 'Golden Gate at Polk',
  'yr': '2013',
  'avg_trip': 19.0},
 {'city': 'San Francisco',
  'name': 'Golden Gate at Polk',
  'yr': '2014',
  'avg_trip': 20.0},
 {'city': 'San Francisco',
  'name': 'Golden Gate at Polk',
  'yr': '2015',
  'avg_trip': 18.0},
 {'city': 'San Francisco',
  'name': 'Grant Avenue at Columbus Avenue',
  'yr': '2013',
  'avg_trip': 22.0},
 {'city': 'San Francisco',
  'name': 'Grant Avenue at Columbus Avenue',
  'yr': '2014',
  'avg_trip': 21.0},
 {'city': 'San Francisco',
  'name': 'Grant Avenue at Columbus Avenue',
  'yr': '2015',
  'avg_trip': 18.0},
 {'city': 'San Francisco',
  'name': 'Harry Bridges Plaza (Ferry Building)',
  'yr': '2013',
  'avg_trip': 31.0},
 {'city': 'San Francisco',
  'name': 'Harry Bridges Plaza (Ferry Building)',
  'yr': '2014',
  'avg_trip': 25.0},
 {'city': 'San Francisco',
  'name': 'Harry Bridges Plaza (Ferry Building)',
  'yr': '2015',
  'avg_trip': 22.0},
 {'city': 'San Francisco',
  'name': 'Howard at 2nd',
  'yr': '2013',
  'avg_trip': 15.0},
 {'city': 'San Francisco',
  'name': 'Howard at 2nd',
  'yr': '2014',
  'avg_trip': 12.0},
 {'city': 'San Francisco',
  'name': 'Howard at 2nd',
  'yr': '2015',
  'avg_trip': 12.0},
 {'city': 'San Francisco',
  'name': 'Market at 10th',
  'yr': '2013',
  'avg_trip': 21.0},
 {'city': 'San Francisco',
  'name': 'Market at 10th',
  'yr': '2014',
  'avg_trip': 18.0},
 {'city': 'San Francisco',
  'name': 'Market at 10th',
  'yr': '2015',
  'avg_trip': 16.0},
 {'city': 'San Francisco',
  'name': 'Market at 4th',
  'yr': '2013',
  'avg_trip': 28.0},
 {'city': 'San Francisco',
  'name': 'Market at 4th',
  'yr': '2014',
  'avg_trip': 21.0},
 {'city': 'San Francisco',
  'name': 'Market at 4th',
  'yr': '2015',
  'avg_trip': 19.0},
 {'city': 'San Francisco',
  'name': 'Market at Sansome',
  'yr': '2013',
  'avg_trip': 18.0},
 {'city': 'San Francisco',
  'name': 'Market at Sansome',
  'yr': '2014',
  'avg_trip': 14.0},
 {'city': 'San Francisco',
  'name': 'Market at Sansome',
  'yr': '2015',
  'avg_trip': 17.0},
 {'city': 'San Francisco',
  'name': 'Mechanics Plaza (Market at Battery)',
  'yr': '2013',
  'avg_trip': 20.0},
 {'city': 'San Francisco',
  'name': 'Mechanics Plaza (Market at Battery)',
  'yr': '2014',
  'avg_trip': 17.0},
 {'city': 'San Francisco',
  'name': 'Mechanics Plaza (Market at Battery)',
  'yr': '2015',
  'avg_trip': 16.0},
 {'city': 'San Francisco',
  'name': 'Post at Kearney',
  'yr': '2013',
  'avg_trip': 18.0},
 {'city': 'San Francisco',
  'name': 'Post at Kearney',
  'yr': '2014',
  'avg_trip': 17.0},
 {'city': 'San Francisco',
  'name': 'Post at Kearney',
  'yr': '2015',
  'avg_trip': 15.0},
 {'city': 'San Francisco',
  'name': 'Powell Street BART',
  'yr': '2013',
  'avg_trip': 29.0},
 {'city': 'San Francisco',
  'name': 'Powell Street BART',
  'yr': '2014',
  'avg_trip': 22.0},
 {'city': 'San Francisco',
  'name': 'Powell Street BART',
  'yr': '2015',
  'avg_trip': 22.0},
 {'city': 'San Francisco',
  'name': 'Powell at Post (Union Square)',
  'yr': '2013',
  'avg_trip': 40.0},
 {'city': 'San Francisco',
  'name': 'Powell at Post (Union Square)',
  'yr': '2014',
  'avg_trip': 27.0},
 {'city': 'San Francisco',
  'name': 'Powell at Post (Union Square)',
  'yr': '2015',
  'avg_trip': 20.0},
 {'city': 'San Francisco',
  'name': 'San Francisco Caltrain (Townsend at 4th)',
  'yr': '2013',
  'avg_trip': 15.0},
 {'city': 'San Francisco',
  'name': 'San Francisco Caltrain (Townsend at 4th)',
  'yr': '2014',
  'avg_trip': 14.0},
 {'city': 'San Francisco',
  'name': 'San Francisco Caltrain (Townsend at 4th)',
  'yr': '2015',
  'avg_trip': 14.0},
 {'city': 'San Francisco',
  'name': 'San Francisco Caltrain 2 (330 Townsend)',
  'yr': '2013',
  'avg_trip': 13.0},
 {'city': 'San Francisco',
  'name': 'San Francisco Caltrain 2 (330 Townsend)',
  'yr': '2014',
  'avg_trip': 12.0},
 {'city': 'San Francisco',
  'name': 'San Francisco Caltrain 2 (330 Townsend)',
  'yr': '2015',
  'avg_trip': 11.0},
 {'city': 'San Francisco',
  'name': 'San Francisco City Hall',
  'yr': '2013',
  'avg_trip': 27.0},
 {'city': 'San Francisco',
  'name': 'San Francisco City Hall',
  'yr': '2014',
  'avg_trip': 32.0},
 {'city': 'San Francisco',
  'name': 'San Francisco City Hall',
  'yr': '2015',
  'avg_trip': 27.0},
 {'city': 'San Francisco',
  'name': 'South Van Ness at Market',
  'yr': '2013',
  'avg_trip': 20.0},
 {'city': 'San Francisco',
  'name': 'South Van Ness at Market',
  'yr': '2014',
  'avg_trip': 63.0},
 {'city': 'San Francisco',
  'name': 'South Van Ness at Market',
  'yr': '2015',
  'avg_trip': 15.0},
 {'city': 'San Francisco',
  'name': 'Spear at Folsom',
  'yr': '2013',
  'avg_trip': 13.0},
 {'city': 'San Francisco',
  'name': 'Spear at Folsom',
  'yr': '2014',
  'avg_trip': 12.0},
 {'city': 'San Francisco',
  'name': 'Spear at Folsom',
  'yr': '2015',
  'avg_trip': 15.0},
 {'city': 'San Francisco',
  'name': 'Steuart at Market',
  'yr': '2013',
  'avg_trip': 19.0},
 {'city': 'San Francisco',
  'name': 'Steuart at Market',
  'yr': '2014',
  'avg_trip': 16.0},
 {'city': 'San Francisco',
  'name': 'Steuart at Market',
  'yr': '2015',
  'avg_trip': 14.0},
 {'city': 'San Francisco',
  'name': 'Temporary Transbay Terminal (Howard at Beale)',
  'yr': '2013',
  'avg_trip': 14.0},
 {'city': 'San Francisco',
  'name': 'Temporary Transbay Terminal (Howard at Beale)',
  'yr': '2014',
  'avg_trip': 11.0},
 {'city': 'San Francisco',
  'name': 'Temporary Transbay Terminal (Howard at Beale)',
  'yr': '2015',
  'avg_trip': 10.0},
 {'city': 'San Francisco',
  'name': 'Townsend at 7th',
  'yr': '2013',
  'avg_trip': 14.0},
 {'city': 'San Francisco',
  'name': 'Townsend at 7th',
  'yr': '2014',
  'avg_trip': 12.0},
 {'city': 'San Francisco',
  'name': 'Townsend at 7th',
  'yr': '2015',
  'avg_trip': 10.0},
 {'city': 'San Francisco',
  'name': 'Washington at Kearney',
  'yr': '2013',
  'avg_trip': 31.0},
 {'city': 'San Francisco',
  'name': 'Washington at Kearney',
  'yr': '2014',
  'avg_trip': 32.0},
 {'city': 'San Francisco',
  'name': 'Washington at Kearney',
  'yr': '2015',
  'avg_trip': 22.0},
 {'city': 'San Francisco',
  'name': 'Yerba Buena Center of the Arts (3rd @ Howard)',
  'yr': '2013',
  'avg_trip': 22.0},
 {'city': 'San Francisco',
  'name': 'Yerba Buena Center of the Arts (3rd @ Howard)',
  'yr': '2014',
  'avg_trip': 15.0},
 {'city': 'San Francisco',
  'name': 'Yerba Buena Center of the Arts (3rd @ Howard)',
  'yr': '2015',
  'avg_trip': 14.0},
 {'city': 'San Jose',
  'name': 'Adobe on Almaden',
  'yr': '2013',
  'avg_trip': 20.0},
 {'city': 'San Jose',
  'name': 'Adobe on Almaden',
  'yr': '2014',
  'avg_trip': 14.0},
 {'city': 'San Jose',
  'name': 'Adobe on Almaden',
  'yr': '2015',
  'avg_trip': 30.0},
 {'city': 'San Jose',
  'name': 'Arena Green / SAP Center',
  'yr': '2013',
  'avg_trip': 33.0},
 {'city': 'San Jose',
  'name': 'Arena Green / SAP Center',
  'yr': '2014',
  'avg_trip': 34.0},
 {'city': 'San Jose',
  'name': 'Arena Green / SAP Center',
  'yr': '2015',
  'avg_trip': 30.0},
 {'city': 'San Jose', 'name': 'Japantown', 'yr': '2013', 'avg_trip': 37.0},
 {'city': 'San Jose', 'name': 'Japantown', 'yr': '2014', 'avg_trip': 41.0},
 {'city': 'San Jose', 'name': 'Japantown', 'yr': '2015', 'avg_trip': 31.0},
 {'city': 'San Jose', 'name': 'MLK Library', 'yr': '2013', 'avg_trip': 26.0},
 {'city': 'San Jose', 'name': 'MLK Library', 'yr': '2014', 'avg_trip': 31.0},
 {'city': 'San Jose', 'name': 'MLK Library', 'yr': '2015', 'avg_trip': 18.0},
 {'city': 'San Jose',
  'name': 'Paseo de San Antonio',
  'yr': '2013',
  'avg_trip': 13.0},
 {'city': 'San Jose',
  'name': 'Paseo de San Antonio',
  'yr': '2014',
  'avg_trip': 30.0},
 {'city': 'San Jose',
  'name': 'Paseo de San Antonio',
  'yr': '2015',
  'avg_trip': 16.0},
 {'city': 'San Jose', 'name': 'Ryland Park', 'yr': '2014', 'avg_trip': 23.0},
 {'city': 'San Jose', 'name': 'Ryland Park', 'yr': '2015', 'avg_trip': 12.0},
 {'city': 'San Jose',
  'name': 'SJSU - San Salvador at 9th',
  'yr': '2013',
  'avg_trip': 34.0},
 {'city': 'San Jose',
  'name': 'SJSU - San Salvador at 9th',
  'yr': '2014',
  'avg_trip': 16.0},
 {'city': 'San Jose',
  'name': 'SJSU - San Salvador at 9th',
  'yr': '2015',
  'avg_trip': 25.0},
 {'city': 'San Jose',
  'name': 'SJSU 4th at San Carlos',
  'yr': '2013',
  'avg_trip': 52.0},
 {'city': 'San Jose',
  'name': 'SJSU 4th at San Carlos',
  'yr': '2014',
  'avg_trip': 35.0},
 {'city': 'San Jose',
  'name': 'SJSU 4th at San Carlos',
  'yr': '2015',
  'avg_trip': 14.0},
 {'city': 'San Jose',
  'name': 'San Jose City Hall',
  'yr': '2013',
  'avg_trip': 31.0},
 {'city': 'San Jose',
  'name': 'San Jose City Hall',
  'yr': '2014',
  'avg_trip': 17.0},
 {'city': 'San Jose',
  'name': 'San Jose City Hall',
  'yr': '2015',
  'avg_trip': 16.0},
 {'city': 'San Jose',
  'name': 'San Jose Civic Center',
  'yr': '2013',
  'avg_trip': 62.0},
 {'city': 'San Jose',
  'name': 'San Jose Civic Center',
  'yr': '2014',
  'avg_trip': 59.0},
 {'city': 'San Jose',
  'name': 'San Jose Civic Center',
  'yr': '2015',
  'avg_trip': 92.0},
 {'city': 'San Jose',
  'name': 'San Jose Diridon Caltrain Station',
  'yr': '2013',
  'avg_trip': 20.0},
 {'city': 'San Jose',
  'name': 'San Jose Diridon Caltrain Station',
  'yr': '2014',
  'avg_trip': 14.0},
 {'city': 'San Jose',
  'name': 'San Jose Diridon Caltrain Station',
  'yr': '2015',
  'avg_trip': 15.0},
 {'city': 'San Jose',
  'name': 'San Pedro Square',
  'yr': '2013',
  'avg_trip': 23.0},
 {'city': 'San Jose',
  'name': 'San Pedro Square',
  'yr': '2014',
  'avg_trip': 16.0},
 {'city': 'San Jose',
  'name': 'San Pedro Square',
  'yr': '2015',
  'avg_trip': 35.0},
 {'city': 'San Jose',
  'name': 'San Salvador at 1st',
  'yr': '2013',
  'avg_trip': 16.0},
 {'city': 'San Jose',
  'name': 'San Salvador at 1st',
  'yr': '2014',
  'avg_trip': 18.0},
 {'city': 'San Jose',
  'name': 'San Salvador at 1st',
  'yr': '2015',
  'avg_trip': 38.0},
 {'city': 'San Jose',
  'name': 'Santa Clara County Civic Center',
  'yr': '2014',
  'avg_trip': 23.0},
 {'city': 'San Jose',
  'name': 'Santa Clara County Civic Center',
  'yr': '2015',
  'avg_trip': 28.0},
 {'city': 'San Jose',
  'name': 'Santa Clara at Almaden',
  'yr': '2013',
  'avg_trip': 17.0},
 {'city': 'San Jose',
  'name': 'Santa Clara at Almaden',
  'yr': '2014',
  'avg_trip': 16.0},
 {'city': 'San Jose',
  'name': 'Santa Clara at Almaden',
  'yr': '2015',
  'avg_trip': 16.0},
 {'city': 'San Jose', 'name': 'St James Park', 'yr': '2013', 'avg_trip': 13.0},

In [127]:
yrs_2013 = []
yrs_2014 = []
yrs_2015 = []

for item in avg_station_list:
    for k,v in item.items():
        print(k)

city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip
city
name
yr
avg_trip

In [128]:
yrs_2013 = []
yrs_2014 = []
yrs_2015 = []

for item in avg_station_list:
    data = {}
    for k,v in item.items():
        if(k=='name'):
            data['axis'] = v
        if(k=='avg_trip'):
            data['value'] = v
        if(k=='city'):
            data['city'] = v
        if(k=='yr'and v=='2013'):
            data['name'] = v
            yrs_2013.append(data)
        elif(k=='yr'and v=='2014'):
            data['name'] = v
            yrs_2014.append(data)
        elif(k=='yr'and v=='2015'):
            data['name'] = v
            yrs_2015.append(data)
    
all_yr_station = [yrs_2013, yrs_2014, yrs_2015]

In [129]:
all_yr_station

[[{'city': 'Mountain View',
   'axis': 'Evelyn Park and Ride',
   'name': '2013',
   'value': 17.0},
  {'city': 'Mountain View',
   'axis': 'Mountain View Caltrain Station',
   'name': '2013',
   'value': 44.0},
  {'city': 'Mountain View',
   'axis': 'Mountain View City Hall',
   'name': '2013',
   'value': 20.0},
  {'city': 'Mountain View',
   'axis': 'Rengstorff Avenue / California Street',
   'name': '2013',
   'value': 134.0},
  {'city': 'Mountain View',
   'axis': 'San Antonio Caltrain Station',
   'name': '2013',
   'value': 44.0},
  {'city': 'Palo Alto',
   'axis': 'California Ave Caltrain Station',
   'name': '2013',
   'value': 94.0},
  {'city': 'Palo Alto',
   'axis': 'Cowper at University',
   'name': '2013',
   'value': 49.0},
  {'city': 'Palo Alto',
   'axis': 'Palo Alto Caltrain Station',
   'name': '2013',
   'value': 50.0},
  {'city': 'Palo Alto',
   'axis': 'Park at Olive',
   'name': '2013',
   'value': 80.0},
  {'city': 'Palo Alto',
   'axis': 'University and Emerson',
   'name': '2013',
   'value': 130.0},
  {'city': 'Redwood City',
   'axis': 'Franklin at Maple',
   'name': '2013',
   'value': 33.0},
  {'city': 'Redwood City',
   'axis': 'Redwood City Caltrain Station',
   'name': '2013',
   'value': 28.0},
  {'city': 'Redwood City',
   'axis': 'Redwood City Medical Center',
   'name': '2013',
   'value': 43.0},
  {'city': 'Redwood City',
   'axis': 'Redwood City Public Library',
   'name': '2013',
   'value': 173.0},
  {'city': 'Redwood City',
   'axis': 'San Mateo County Center',
   'name': '2013',
   'value': 24.0},
  {'city': 'Redwood City',
   'axis': 'Stanford in Redwood City',
   'name': '2013',
   'value': 20.0},
  {'city': 'San Francisco',
   'axis': '2nd at Folsom',
   'name': '2013',
   'value': 13.0},
  {'city': 'San Francisco',
   'axis': '2nd at South Park',
   'name': '2013',
   'value': 12.0},
  {'city': 'San Francisco',
   'axis': '2nd at Townsend',
   'name': '2013',
   'value': 14.0},
  {'city': 'San Francisco',
   'axis': '5th at Howard',
   'name': '2013',
   'value': 23.0},
  {'city': 'San Francisco',
   'axis': 'Beale at Market',
   'name': '2013',
   'value': 21.0},
  {'city': 'San Francisco',
   'axis': 'Civic Center BART (7th at Market)',
   'name': '2013',
   'value': 26.0},
  {'city': 'San Francisco',
   'axis': 'Clay at Battery',
   'name': '2013',
   'value': 19.0},
  {'city': 'San Francisco',
   'axis': 'Commercial at Montgomery',
   'name': '2013',
   'value': 13.0},
  {'city': 'San Francisco',
   'axis': 'Davis at Jackson',
   'name': '2013',
   'value': 21.0},
  {'city': 'San Francisco',
   'axis': 'Embarcadero at Bryant',
   'name': '2013',
   'value': 22.0},
  {'city': 'San Francisco',
   'axis': 'Embarcadero at Folsom',
   'name': '2013',
   'value': 15.0},
  {'city': 'San Francisco',
   'axis': 'Embarcadero at Sansome',
   'name': '2013',
   'value': 28.0},
  {'city': 'San Francisco',
   'axis': 'Embarcadero at Vallejo',
   'name': '2013',
   'value': 27.0},
  {'city': 'San Francisco',
   'axis': 'Golden Gate at Polk',
   'name': '2013',
   'value': 19.0},
  {'city': 'San Francisco',
   'axis': 'Grant Avenue at Columbus Avenue',
   'name': '2013',
   'value': 22.0},
  {'city': 'San Francisco',
   'axis': 'Harry Bridges Plaza (Ferry Building)',
   'name': '2013',
   'value': 31.0},
  {'city': 'San Francisco',
   'axis': 'Howard at 2nd',
   'name': '2013',
   'value': 15.0},
  {'city': 'San Francisco',
   'axis': 'Market at 10th',
   'name': '2013',
   'value': 21.0},
  {'city': 'San Francisco',
   'axis': 'Market at 4th',
   'name': '2013',
   'value': 28.0},
  {'city': 'San Francisco',
   'axis': 'Market at Sansome',
   'name': '2013',
   'value': 18.0},
  {'city': 'San Francisco',
   'axis': 'Mechanics Plaza (Market at Battery)',
   'name': '2013',
   'value': 20.0},
  {'city': 'San Francisco',
   'axis': 'Post at Kearney',
   'name': '2013',
   'value': 18.0},
  {'city': 'San Francisco',
   'axis': 'Powell Street BART',
   'name': '2013',
   'value': 29.0},
  {'city': 'San Francisco',
   'axis': 'Powell at Post (Union Square)',
   'name': '2013',
   'value': 40.0},
  {'city': 'San Francisco',
   'axis': 'San Francisco Caltrain (Townsend at 4th)',
   'name': '2013',
   'value': 15.0},
  {'city': 'San Francisco',
   'axis': 'San Francisco Caltrain 2 (330 Townsend)',
   'name': '2013',
   'value': 13.0},
  {'city': 'San Francisco',
   'axis': 'San Francisco City Hall',
   'name': '2013',
   'value': 27.0},
  {'city': 'San Francisco',
   'axis': 'South Van Ness at Market',
   'name': '2013',
   'value': 20.0},
  {'city': 'San Francisco',
   'axis': 'Spear at Folsom',
   'name': '2013',
   'value': 13.0},
  {'city': 'San Francisco',
   'axis': 'Steuart at Market',
   'name': '2013',
   'value': 19.0},
  {'city': 'San Francisco',
   'axis': 'Temporary Transbay Terminal (Howard at Beale)',
   'name': '2013',
   'value': 14.0},
  {'city': 'San Francisco',
   'axis': 'Townsend at 7th',
   'name': '2013',
   'value': 14.0},
  {'city': 'San Francisco',
   'axis': 'Washington at Kearney',
   'name': '2013',
   'value': 31.0},
  {'city': 'San Francisco',
   'axis': 'Yerba Buena Center of the Arts (3rd @ Howard)',
   'name': '2013',
   'value': 22.0},
  {'city': 'San Jose',
   'axis': 'Adobe on Almaden',
   'name': '2013',
   'value': 20.0},
  {'city': 'San Jose',
   'axis': 'Arena Green / SAP Center',
   'name': '2013',
   'value': 33.0},
  {'city': 'San Jose', 'axis': 'Japantown', 'name': '2013', 'value': 37.0},
  {'city': 'San Jose', 'axis': 'MLK Library', 'name': '2013', 'value': 26.0},
  {'city': 'San Jose',
   'axis': 'Paseo de San Antonio',
   'name': '2013',
   'value': 13.0},
  {'city': 'San Jose',
   'axis': 'SJSU - San Salvador at 9th',
   'name': '2013',
   'value': 34.0},
  {'city': 'San Jose',
   'axis': 'SJSU 4th at San Carlos',
   'name': '2013',
   'value': 52.0},
  {'city': 'San Jose',
   'axis': 'San Jose City Hall',
   'name': '2013',
   'value': 31.0},
  {'city': 'San Jose',
   'axis': 'San Jose Civic Center',
   'name': '2013',
   'value': 62.0},
  {'city': 'San Jose',
   'axis': 'San Jose Diridon Caltrain Station',
   'name': '2013',
   'value': 20.0},
  {'city': 'San Jose',
   'axis': 'San Pedro Square',
   'name': '2013',
   'value': 23.0},
  {'city': 'San Jose',
   'axis': 'San Salvador at 1st',
   'name': '2013',
   'value': 16.0},
  {'city': 'San Jose',
   'axis': 'Santa Clara at Almaden',
   'name': '2013',
   'value': 17.0},
  {'city': 'San Jose',
   'axis': 'St James Park',
   'name': '2013',
   'value': 13.0}],
 [{'city': 'Mountain View',
   'axis': 'Castro Street and El Camino Real',
   'name': '2014',
   'value': 31.0},
  {'city': 'Mountain View',
   'axis': 'Evelyn Park and Ride',
   'name': '2014',
   'value': 20.0},
  {'city': 'Mountain View',
   'axis': 'Mountain View Caltrain Station',
   'name': '2014',
   'value': 21.0},
  {'city': 'Mountain View',
   'axis': 'Mountain View City Hall',
   'name': '2014',
   'value': 26.0},
  {'city': 'Mountain View',
   'axis': 'Rengstorff Avenue / California Street',
   'name': '2014',
   'value': 73.0},
  {'city': 'Mountain View',
   'axis': 'San Antonio Caltrain Station',
   'name': '2014',
   'value': 47.0},
  {'city': 'Mountain View',
   'axis': 'San Antonio Shopping Center',
   'name': '2014',
   'value': 23.0},
  {'city': 'Palo Alto',
   'axis': 'California Ave Caltrain Station',
   'name': '2014',
   'value': 72.0},
  {'city': 'Palo Alto',
   'axis': 'Cowper at University',
   'name': '2014',
   'value': 37.0},
  {'city': 'Palo Alto',
   'axis': 'Palo Alto Caltrain Station',
   'name': '2014',
   'value': 54.0},
  {'city': 'Palo Alto',
   'axis': 'Park at Olive',
   'name': '2014',
   'value': 62.0},
  {'city': 'Palo Alto',
   'axis': 'University and Emerson',
   'name': '2014',
   'value': 91.0},
  {'city': 'Redwood City',
   'axis': 'Franklin at Maple',
   'name': '2014',
   'value': 13.0},
  {'city': 'Redwood City',
   'axis': 'Mezes Park',
   'name': '2014',
   'value': 13.0},
  {'city': 'Redwood City',
   'axis': 'Redwood City Caltrain Station',
   'name': '2014',
   'value': 70.0},
  {'city': 'Redwood City',
   'axis': 'Redwood City Medical Center',
   'name': '2014',
   'value': 32.0},
  {'city': 'Redwood City',
   'axis': 'Redwood City Public Library',
   'name': '2014',
   'value': 58.0},
  {'city': 'Redwood City',
   'axis': 'San Mateo County Center',
   'name': '2014',
   'value': 67.0},
  {'city': 'Redwood City',
   'axis': 'Stanford in Redwood City',
   'name': '2014',
   'value': 43.0},
  {'city': 'San Francisco',
   'axis': '2nd at Folsom',
   'name': '2014',
   'value': 9.0},
  {'city': 'San Francisco',
   'axis': '2nd at South Park',
   'name': '2014',
   'value': 12.0},
  {'city': 'San Francisco',
   'axis': '2nd at Townsend',
   'name': '2014',
   'value': 14.0},
  {'city': 'San Francisco',
   'axis': '5th at Howard',
   'name': '2014',
   'value': 14.0},
  {'city': 'San Francisco',
   'axis': 'Beale at Market',
   'name': '2014',
   'value': 14.0},
  {'city': 'San Francisco',
   'axis': 'Broadway St at Battery St',
   'name': '2014',
   'value': 15.0},
  {'city': 'San Francisco',
   'axis': 'Civic Center BART (7th at Market)',
   'name': '2014',
   'value': 21.0},
  {'city': 'San Francisco',
   'axis': 'Clay at Battery',
   'name': '2014',
   'value': 20.0},
  {'city': 'San Francisco',
   'axis': 'Commercial at Montgomery',
   'name': '2014',
   'value': 13.0},
  {'city': 'San Francisco',
   'axis': 'Davis at Jackson',
   'name': '2014',
   'value': 16.0},
  {'city': 'San Francisco',
   'axis': 'Embarcadero at Bryant',
   'name': '2014',
   'value': 17.0},
  {'city': 'San Francisco',
   'axis': 'Embarcadero at Folsom',
   'name': '2014',
   'value': 14.0},
  {'city': 'San Francisco',
   'axis': 'Embarcadero at Sansome',
   'name': '2014',
   'value': 24.0},
  {'city': 'San Francisco',
   'axis': 'Embarcadero at Vallejo',
   'name': '2014',
   'value': 27.0},
  {'city': 'San Francisco',
   'axis': 'Golden Gate at Polk',
   'name': '2014',
   'value': 20.0},
  {'city': 'San Francisco',
   'axis': 'Grant Avenue at Columbus Avenue',
   'name': '2014',
   'value': 21.0},
  {'city': 'San Francisco',
   'axis': 'Harry Bridges Plaza (Ferry Building)',
   'name': '2014',
   'value': 25.0},
  {'city': 'San Francisco',
   'axis': 'Howard at 2nd',
   'name': '2014',
   'value': 12.0},
  {'city': 'San Francisco',
   'axis': 'Market at 10th',
   'name': '2014',
   'value': 18.0},
  {'city': 'San Francisco',
   'axis': 'Market at 4th',
   'name': '2014',
   'value': 21.0},
  {'city': 'San Francisco',
   'axis': 'Market at Sansome',
   'name': '2014',
   'value': 14.0},
  {'city': 'San Francisco',
   'axis': 'Mechanics Plaza (Market at Battery)',
   'name': '2014',
   'value': 17.0},
  {'city': 'San Francisco',
   'axis': 'Post at Kearney',
   'name': '2014',
   'value': 17.0},
  {'city': 'San Francisco',
   'axis': 'Powell Street BART',
   'name': '2014',
   'value': 22.0},
  {'city': 'San Francisco',
   'axis': 'Powell at Post (Union Square)',
   'name': '2014',
   'value': 27.0},
  {'city': 'San Francisco',
   'axis': 'San Francisco Caltrain (Townsend at 4th)',
   'name': '2014',
   'value': 14.0},
  {'city': 'San Francisco',
   'axis': 'San Francisco Caltrain 2 (330 Townsend)',
   'name': '2014',
   'value': 12.0},
  {'city': 'San Francisco',
   'axis': 'San Francisco City Hall',
   'name': '2014',
   'value': 32.0},
  {'city': 'San Francisco',
   'axis': 'South Van Ness at Market',
   'name': '2014',
   'value': 63.0},
  {'city': 'San Francisco',
   'axis': 'Spear at Folsom',
   'name': '2014',
   'value': 12.0},
  {'city': 'San Francisco',
   'axis': 'Steuart at Market',
   'name': '2014',
   'value': 16.0},
  {'city': 'San Francisco',
   'axis': 'Temporary Transbay Terminal (Howard at Beale)',
   'name': '2014',
   'value': 11.0},
  {'city': 'San Francisco',
   'axis': 'Townsend at 7th',
   'name': '2014',
   'value': 12.0},
  {'city': 'San Francisco',
   'axis': 'Washington at Kearney',
   'name': '2014',
   'value': 32.0},
  {'city': 'San Francisco',
   'axis': 'Yerba Buena Center of the Arts (3rd @ Howard)',
   'name': '2014',
   'value': 15.0},
  {'city': 'San Jose',
   'axis': 'Adobe on Almaden',
   'name': '2014',
   'value': 14.0},
  {'city': 'San Jose',
   'axis': 'Arena Green / SAP Center',
   'name': '2014',
   'value': 34.0},
  {'city': 'San Jose', 'axis': 'Japantown', 'name': '2014', 'value': 41.0},
  {'city': 'San Jose', 'axis': 'MLK Library', 'name': '2014', 'value': 31.0},
  {'city': 'San Jose',
   'axis': 'Paseo de San Antonio',
   'name': '2014',
   'value': 30.0},
  {'city': 'San Jose', 'axis': 'Ryland Park', 'name': '2014', 'value': 23.0},
  {'city': 'San Jose',
   'axis': 'SJSU - San Salvador at 9th',
   'name': '2014',
   'value': 16.0},
  {'city': 'San Jose',
   'axis': 'SJSU 4th at San Carlos',
   'name': '2014',
   'value': 35.0},
  {'city': 'San Jose',
   'axis': 'San Jose City Hall',
   'name': '2014',
   'value': 17.0},
  {'city': 'San Jose',
   'axis': 'San Jose Civic Center',
   'name': '2014',
   'value': 59.0},
  {'city': 'San Jose',
   'axis': 'San Jose Diridon Caltrain Station',
   'name': '2014',
   'value': 14.0},
  {'city': 'San Jose',
   'axis': 'San Pedro Square',
   'name': '2014',
   'value': 16.0},
  {'city': 'San Jose',
   'axis': 'San Salvador at 1st',
   'name': '2014',
   'value': 18.0},
  {'city': 'San Jose',
   'axis': 'Santa Clara County Civic Center',
   'name': '2014',
   'value': 23.0},
  {'city': 'San Jose',
   'axis': 'Santa Clara at Almaden',
   'name': '2014',
   'value': 16.0},
  {'city': 'San Jose',
   'axis': 'St James Park',
   'name': '2014',
   'value': 16.0}],
 [{'city': 'Mountain View',
   'axis': 'Castro Street and El Camino Real',
   'name': '2015',
   'value': 32.0},
  {'city': 'Mountain View',
   'axis': 'Evelyn Park and Ride',
   'name': '2015',
   'value': 18.0},
  {'city': 'Mountain View',
   'axis': 'Mountain View Caltrain Station',
   'name': '2015',
   'value': 21.0},
  {'city': 'Mountain View',
   'axis': 'Mountain View City Hall',
   'name': '2015',
   'value': 18.0},
  {'city': 'Mountain View',
   'axis': 'Rengstorff Avenue / California Street',
   'name': '2015',
   'value': 31.0},
  {'city': 'Mountain View',
   'axis': 'San Antonio Caltrain Station',
   'name': '2015',
   'value': 26.0},
  {'city': 'Mountain View',
   'axis': 'San Antonio Shopping Center',
   'name': '2015',
   'value': 60.0},
  {'city': 'Palo Alto',
   'axis': 'California Ave Caltrain Station',
   'name': '2015',
   'value': 74.0},
  {'city': 'Palo Alto',
   'axis': 'Cowper at University',
   'name': '2015',
   'value': 45.0},
  {'city': 'Palo Alto',
   'axis': 'Palo Alto Caltrain Station',
   'name': '2015',
   'value': 55.0},
  {'city': 'Palo Alto',
   'axis': 'Park at Olive',
   'name': '2015',
   'value': 86.0},
  {'city': 'Palo Alto',
   'axis': 'University and Emerson',
   'name': '2015',
   'value': 163.0},
  {'city': 'Redwood City',
   'axis': 'Franklin at Maple',
   'name': '2015',
   'value': 46.0},
  {'city': 'Redwood City',
   'axis': 'Mezes Park',
   'name': '2015',
   'value': 42.0},
  {'city': 'Redwood City',
   'axis': 'Redwood City Caltrain Station',
   'name': '2015',
   'value': 24.0},
  {'city': 'Redwood City',
   'axis': 'Redwood City Medical Center',
   'name': '2015',
   'value': 104.0},
  {'city': 'Redwood City',
   'axis': 'Redwood City Public Library',
   'name': '2015',
   'value': 53.0},
  {'city': 'Redwood City',
   'axis': 'San Mateo County Center',
   'name': '2015',
   'value': 39.0},
  {'city': 'Redwood City',
   'axis': 'Stanford in Redwood City',
   'name': '2015',
   'value': 18.0},
  {'city': 'San Francisco',
   'axis': '2nd at Folsom',
   'name': '2015',
   'value': 9.0},
  {'city': 'San Francisco',
   'axis': '2nd at South Park',
   'name': '2015',
   'value': 11.0},
  {'city': 'San Francisco',
   'axis': '2nd at Townsend',
   'name': '2015',
   'value': 12.0},
  {'city': 'San Francisco',
   'axis': '5th at Howard',
   'name': '2015',
   'value': 14.0},
  {'city': 'San Francisco',
   'axis': 'Beale at Market',
   'name': '2015',
   'value': 12.0},
  {'city': 'San Francisco',
   'axis': 'Broadway St at Battery St',
   'name': '2015',
   'value': 13.0},
  {'city': 'San Francisco',
   'axis': 'Civic Center BART (7th at Market)',
   'name': '2015',
   'value': 16.0},
  {'city': 'San Francisco',
   'axis': 'Clay at Battery',
   'name': '2015',
   'value': 15.0},
  {'city': 'San Francisco',
   'axis': 'Commercial at Montgomery',
   'name': '2015',
   'value': 13.0},
  {'city': 'San Francisco',
   'axis': 'Davis at Jackson',
   'name': '2015',
   'value': 14.0},
  {'city': 'San Francisco',
   'axis': 'Embarcadero at Bryant',
   'name': '2015',
   'value': 15.0},
  {'city': 'San Francisco',
   'axis': 'Embarcadero at Folsom',
   'name': '2015',
   'value': 13.0},
  {'city': 'San Francisco',
   'axis': 'Embarcadero at Sansome',
   'name': '2015',
   'value': 21.0},
  {'city': 'San Francisco',
   'axis': 'Embarcadero at Vallejo',
   'name': '2015',
   'value': 27.0},
  {'city': 'San Francisco',
   'axis': 'Golden Gate at Polk',
   'name': '2015',
   'value': 18.0},
  {'city': 'San Francisco',
   'axis': 'Grant Avenue at Columbus Avenue',
   'name': '2015',
   'value': 18.0},
  {'city': 'San Francisco',
   'axis': 'Harry Bridges Plaza (Ferry Building)',
   'name': '2015',
   'value': 22.0},
  {'city': 'San Francisco',
   'axis': 'Howard at 2nd',
   'name': '2015',
   'value': 12.0},
  {'city': 'San Francisco',
   'axis': 'Market at 10th',
   'name': '2015',
   'value': 16.0},
  {'city': 'San Francisco',
   'axis': 'Market at 4th',
   'name': '2015',
   'value': 19.0},
  {'city': 'San Francisco',
   'axis': 'Market at Sansome',
   'name': '2015',
   'value': 17.0},
  {'city': 'San Francisco',
   'axis': 'Mechanics Plaza (Market at Battery)',
   'name': '2015',
   'value': 16.0},
  {'city': 'San Francisco',
   'axis': 'Post at Kearney',
   'name': '2015',
   'value': 15.0},
  {'city': 'San Francisco',
   'axis': 'Powell Street BART',
   'name': '2015',
   'value': 22.0},
  {'city': 'San Francisco',
   'axis': 'Powell at Post (Union Square)',
   'name': '2015',
   'value': 20.0},
  {'city': 'San Francisco',
   'axis': 'San Francisco Caltrain (Townsend at 4th)',
   'name': '2015',
   'value': 14.0},
  {'city': 'San Francisco',
   'axis': 'San Francisco Caltrain 2 (330 Townsend)',
   'name': '2015',
   'value': 11.0},
  {'city': 'San Francisco',
   'axis': 'San Francisco City Hall',
   'name': '2015',
   'value': 27.0},
  {'city': 'San Francisco',
   'axis': 'South Van Ness at Market',
   'name': '2015',
   'value': 15.0},
  {'city': 'San Francisco',
   'axis': 'Spear at Folsom',
   'name': '2015',
   'value': 15.0},
  {'city': 'San Francisco',
   'axis': 'Steuart at Market',
   'name': '2015',
   'value': 14.0},
  {'city': 'San Francisco',
   'axis': 'Temporary Transbay Terminal (Howard at Beale)',
   'name': '2015',
   'value': 10.0},
  {'city': 'San Francisco',
   'axis': 'Townsend at 7th',
   'name': '2015',
   'value': 10.0},
  {'city': 'San Francisco',
   'axis': 'Washington at Kearney',
   'name': '2015',
   'value': 22.0},
  {'city': 'San Francisco',
   'axis': 'Yerba Buena Center of the Arts (3rd @ Howard)',
   'name': '2015',
   'value': 14.0},
  {'city': 'San Jose',
   'axis': 'Adobe on Almaden',
   'name': '2015',
   'value': 30.0},
  {'city': 'San Jose',
   'axis': 'Arena Green / SAP Center',
   'name': '2015',
   'value': 30.0},
  {'city': 'San Jose', 'axis': 'Japantown', 'name': '2015', 'value': 31.0},
  {'city': 'San Jose', 'axis': 'MLK Library', 'name': '2015', 'value': 18.0},
  {'city': 'San Jose',
   'axis': 'Paseo de San Antonio',
   'name': '2015',
   'value': 16.0},
  {'city': 'San Jose', 'axis': 'Ryland Park', 'name': '2015', 'value': 12.0},
  {'city': 'San Jose',
   'axis': 'SJSU - San Salvador at 9th',
   'name': '2015',
   'value': 25.0},
  {'city': 'San Jose',
   'axis': 'SJSU 4th at San Carlos',
   'name': '2015',
   'value': 14.0},
  {'city': 'San Jose',

In [3]:
# The database URI
engine = create_engine("sqlite:///../db/database.sqlite")

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

# Save reference to the table
Trip = Base.classes.trip
Station = Base.classes.station

# Create our session (link) from Python to the DB
session = Session(engine)

In [139]:
dist_city_sql = (f'SELECT DISTINCT city FROM station ')

dist_city = pd.read_sql(dist_city_sql, engine.connect())
dist_city_list = dist_city["city"].values.tolist()
dist_city_list

['San Jose', 'Redwood City', 'Mountain View', 'Palo Alto', 'San Francisco']

In [4]:
results = session.query(Station.city).distinct()
cities = [result[0] for result in results]
  
print(cities)
    #return render_template("index.html", cities=cities)

['San Jose', 'Redwood City', 'Mountain View', 'Palo Alto', 'San Francisco']

In [6]:
stations = ['Clay at Battery', 'Davis at Jackson', 'Commercial at Montgomery',
       'Washington at Kearney', 'Post at Kearney',
       'Embarcadero at Vallejo', 'Spear at Folsom',
       'Harry Bridges Plaza (Ferry Building)', 'Embarcadero at Folsom',
       'Powell Street BART', 'Embarcadero at Bryant',
       'Temporary Transbay Terminal (Howard at Beale)', 'Beale at Market',
       '5th at Howard', 'San Francisco City Hall', 'Golden Gate at Polk',
       'Embarcadero at Sansome', '2nd at Townsend', '2nd at Folsom',
       'Howard at 2nd', '2nd at South Park', 'Townsend at 7th',
       'South Van Ness at Market', 'Market at 10th',
       'Yerba Buena Center of the Arts (3rd @ Howard)',
       'San Francisco Caltrain 2 (330 Townsend)',
       'San Francisco Caltrain (Townsend at 4th)',
       'Powell at Post (Union Square)',
       'Civic Center BART (7th at Market)',
       'Grant Avenue at Columbus Avenue', 'Steuart at Market',
       'Mechanics Plaza (Market at Battery)', 'Market at 4th',
       'Market at Sansome', 'Broadway St at Battery St']


results = session.query(Trip.start_station_name, func.count(Trip.start_station_id))
.filter(Trip.start_station_name.in_(stations)).group_by(Trip.start_station_name)
.order_by(func.count(Trip.start_station_id).desc()).all()

In [10]:
results

[('San Francisco Caltrain (Townsend at 4th)', 49092),
 ('San Francisco Caltrain 2 (330 Townsend)', 33742),
 ('Harry Bridges Plaza (Ferry Building)', 32934),
 ('Embarcadero at Sansome', 27713),
 ('Temporary Transbay Terminal (Howard at Beale)', 26089),
 ('2nd at Townsend', 25837),
 ('Steuart at Market', 24838),
 ('Market at Sansome', 24172),
 ('Townsend at 7th', 23724),
 ('Market at 10th', 20272),
 ('Market at 4th', 20165),
 ('2nd at South Park', 18496),
 ('Powell Street BART', 18378),
 ('Grant Avenue at Columbus Avenue', 16306),
 ('2nd at Folsom', 15940),
 ('Beale at Market', 15709),
 ('Embarcadero at Bryant', 14811),
 ('Civic Center BART (7th at Market)', 14102),
 ('Embarcadero at Folsom', 14054),
 ('5th at Howard', 13526),
 ('Howard at 2nd', 13163),
 ('South Van Ness at Market', 12880),
 ('Powell at Post (Union Square)', 12496),
 ('Mechanics Plaza (Market at Battery)', 12224),
 ('Spear at Folsom', 11949),
 ('Commercial at Montgomery', 11888),
 ('Yerba Buena Center of the Arts (3rd @ Howard)', 11251),
 ('Embarcadero at Vallejo', 10592),
 ('Broadway St at Battery St', 10310),
 ('Clay at Battery', 9994),
 ('Davis at Jackson', 9957),
 ('Golden Gate at Polk', 7342),
 ('San Francisco City Hall', 4535),
 ('Post at Kearney', 2503),
 ('Washington at Kearney', 1472)]

In [15]:
station_ct_sql =('SELECT city, start_station_name, COUNT(start_station_id) as ct '
                 'FROM trip JOIN station on trip.start_station_id = station.id '
                 'GROUP BY city, start_station_name')

station_ct = pd.read_sql(station_ct_sql, engine.connect())

In [16]:
station_ct_list = station_ct.to_dict('records')
station_ct_list

[{'city': 'Mountain View',
  'start_station_name': 'Castro Street and El Camino Real',
  'ct': 2035},
 {'city': 'Mountain View',
  'start_station_name': 'Evelyn Park and Ride',
  'ct': 1667},
 {'city': 'Mountain View',
  'start_station_name': 'Mountain View Caltrain Station',
  'ct': 6544},
 {'city': 'Mountain View',
  'start_station_name': 'Mountain View City Hall',
  'ct': 2984},
 {'city': 'Mountain View',
  'start_station_name': 'Rengstorff Avenue / California Street',
  'ct': 1129},
 {'city': 'Mountain View',
  'start_station_name': 'San Antonio Caltrain Station',
  'ct': 1990},
 {'city': 'Mountain View',
  'start_station_name': 'San Antonio Shopping Center',
  'ct': 1818},
 {'city': 'Palo Alto',
  'start_station_name': 'California Ave Caltrain Station',
  'ct': 1026},
 {'city': 'Palo Alto',
  'start_station_name': 'Cowper at University',
  'ct': 1374},
 {'city': 'Palo Alto',
  'start_station_name': 'Palo Alto Caltrain Station',
  'ct': 2111},
 {'city': 'Palo Alto', 'start_station_name': 'Park at Olive', 'ct': 750},
 {'city': 'Palo Alto',
  'start_station_name': 'University and Emerson',
  'ct': 1512},
 {'city': 'Redwood City', 'start_station_name': 'Broadway at Main', 'ct': 67},
 {'city': 'Redwood City',
  'start_station_name': 'Franklin at Maple',
  'ct': 224},
 {'city': 'Redwood City', 'start_station_name': 'Mezes Park', 'ct': 341},
 {'city': 'Redwood City',
  'start_station_name': 'Redwood City Caltrain Station',
  'ct': 1554},
 {'city': 'Redwood City',
  'start_station_name': 'Redwood City Medical Center',
  'ct': 311},
 {'city': 'Redwood City',
  'start_station_name': 'Redwood City Public Library',
  'ct': 213},
 {'city': 'Redwood City',
  'start_station_name': 'San Mateo County Center',
  'ct': 287},
 {'city': 'Redwood City',
  'start_station_name': 'Stanford in Redwood City',
  'ct': 436},
 {'city': 'San Francisco', 'start_station_name': '2nd at Folsom', 'ct': 15940},
 {'city': 'San Francisco',
  'start_station_name': '2nd at South Park',
  'ct': 18496},
 {'city': 'San Francisco',
  'start_station_name': '2nd at Townsend',
  'ct': 25837},
 {'city': 'San Francisco', 'start_station_name': '5th at Howard', 'ct': 13526},
 {'city': 'San Francisco',
  'start_station_name': 'Beale at Market',
  'ct': 15709},
 {'city': 'San Francisco',
  'start_station_name': 'Broadway St at Battery St',
  'ct': 10310},
 {'city': 'San Francisco',
  'start_station_name': 'Civic Center BART (7th at Market)',
  'ct': 14102},
 {'city': 'San Francisco',
  'start_station_name': 'Clay at Battery',
  'ct': 9994},
 {'city': 'San Francisco',
  'start_station_name': 'Commercial at Montgomery',
  'ct': 11888},
 {'city': 'San Francisco',
  'start_station_name': 'Davis at Jackson',
  'ct': 9957},
 {'city': 'San Francisco',
  'start_station_name': 'Embarcadero at Bryant',
  'ct': 14811},
 {'city': 'San Francisco',
  'start_station_name': 'Embarcadero at Folsom',
  'ct': 14054},
 {'city': 'San Francisco',
  'start_station_name': 'Embarcadero at Sansome',
  'ct': 27713},
 {'city': 'San Francisco',
  'start_station_name': 'Embarcadero at Vallejo',
  'ct': 10592},
 {'city': 'San Francisco',
  'start_station_name': 'Golden Gate at Polk',
  'ct': 7342},
 {'city': 'San Francisco',
  'start_station_name': 'Grant Avenue at Columbus Avenue',
  'ct': 16306},
 {'city': 'San Francisco',
  'start_station_name': 'Harry Bridges Plaza (Ferry Building)',
  'ct': 32934},
 {'city': 'San Francisco', 'start_station_name': 'Howard at 2nd', 'ct': 13163},
 {'city': 'San Francisco',
  'start_station_name': 'Market at 10th',
  'ct': 20272},
 {'city': 'San Francisco', 'start_station_name': 'Market at 4th', 'ct': 20165},
 {'city': 'San Francisco',
  'start_station_name': 'Market at Sansome',
  'ct': 24172},
 {'city': 'San Francisco',
  'start_station_name': 'Mechanics Plaza (Market at Battery)',
  'ct': 12224},
 {'city': 'San Francisco',
  'start_station_name': 'Post at Kearney',
  'ct': 2503},
 {'city': 'San Francisco', 'start_station_name': 'Post at Kearny', 'ct': 6960},
 {'city': 'San Francisco',
  'start_station_name': 'Powell Street BART',
  'ct': 18378},
 {'city': 'San Francisco',
  'start_station_name': 'Powell at Post (Union Square)',
  'ct': 12496},
 {'city': 'San Francisco',
  'start_station_name': 'San Francisco Caltrain (Townsend at 4th)',
  'ct': 49092},
 {'city': 'San Francisco',
  'start_station_name': 'San Francisco Caltrain 2 (330 Townsend)',
  'ct': 33742},
 {'city': 'San Francisco',
  'start_station_name': 'San Francisco City Hall',
  'ct': 4535},
 {'city': 'San Francisco',
  'start_station_name': 'South Van Ness at Market',
  'ct': 12880},
 {'city': 'San Francisco',
  'start_station_name': 'Spear at Folsom',
  'ct': 11949},
 {'city': 'San Francisco',
  'start_station_name': 'Steuart at Market',
  'ct': 24838},
 {'city': 'San Francisco',
  'start_station_name': 'Temporary Transbay Terminal (Howard at Beale)',
  'ct': 26089},
 {'city': 'San Francisco',
  'start_station_name': 'Townsend at 7th',
  'ct': 23724},
 {'city': 'San Francisco',
  'start_station_name': 'Washington at Kearney',
  'ct': 1472},
 {'city': 'San Francisco',
  'start_station_name': 'Washington at Kearny',
  'ct': 4292},
 {'city': 'San Francisco',
  'start_station_name': 'Yerba Buena Center of the Arts (3rd @ Howard)',
  'ct': 11251},
 {'city': 'San Jose', 'start_station_name': 'Adobe on Almaden', 'ct': 1257},
 {'city': 'San Jose',
  'start_station_name': 'Arena Green / SAP Center',
  'ct': 1496},
 {'city': 'San Jose', 'start_station_name': 'Japantown', 'ct': 1910},
 {'city': 'San Jose', 'start_station_name': 'MLK Library', 'ct': 2034},
 {'city': 'San Jose',
  'start_station_name': 'Paseo de San Antonio',
  'ct': 2233},
 {'city': 'San Jose', 'start_station_name': 'Ryland Park', 'ct': 1747},
 {'city': 'San Jose',
  'start_station_name': 'SJSU - San Salvador at 9th',
  'ct': 1473},
 {'city': 'San Jose',
  'start_station_name': 'SJSU 4th at San Carlos',
  'ct': 1170},
 {'city': 'San Jose', 'start_station_name': 'San Jose City Hall', 'ct': 2393},
 {'city': 'San Jose',
  'start_station_name': 'San Jose Civic Center',
  'ct': 1594},
 {'city': 'San Jose',
  'start_station_name': 'San Jose Diridon Caltrain Station',
  'ct': 9558},
 {'city': 'San Jose',
  'start_station_name': 'San Jose Government Center',
  'ct': 23},
 {'city': 'San Jose', 'start_station_name': 'San Pedro Square', 'ct': 2917},
 {'city': 'San Jose', 'start_station_name': 'San Salvador at 1st', 'ct': 1692},
 {'city': 'San Jose',
  'start_station_name': 'Santa Clara County Civic Center',
  'ct': 840},
 {'city': 'San Jose',
  'start_station_name': 'Santa Clara at Almaden',
  'ct': 3861},
 {'city': 'San Jose', 'start_station_name': 'St James Park', 'ct': 1680}]

In [33]:
city='San Francisco'
station_ct_select = station_ct[station_ct["city"]==city].nlargest(10, 'ct')
station_ct_select

             city                             start_station_name     ct
46  San Francisco       San Francisco Caltrain (Townsend at 4th)  49092
47  San Francisco        San Francisco Caltrain 2 (330 Townsend)  33742
36  San Francisco           Harry Bridges Plaza (Ferry Building)  32934
32  San Francisco                         Embarcadero at Sansome  27713
52  San Francisco  Temporary Transbay Terminal (Howard at Beale)  26089
22  San Francisco                                2nd at Townsend  25837
51  San Francisco                              Steuart at Market  24838
40  San Francisco                              Market at Sansome  24172
53  San Francisco                                Townsend at 7th  23724
38  San Francisco                                 Market at 10th  20272

In [27]:
station_ct_select_list = station_ct_select.to_dict('records')
station_ct_select_list

[{'city': 'Palo Alto',
  'start_station_name': 'California Ave Caltrain Station',
  'ct': 1026},
 {'city': 'Palo Alto',
  'start_station_name': 'Cowper at University',
  'ct': 1374},
 {'city': 'Palo Alto',
  'start_station_name': 'Palo Alto Caltrain Station',
  'ct': 2111},
 {'city': 'Palo Alto', 'start_station_name': 'Park at Olive', 'ct': 750},
 {'city': 'Palo Alto',
  'start_station_name': 'University and Emerson',
  'ct': 1512}]

In [31]:
#station_names = station_ct_select_list["start_station_name"].values.tolist()

station_names = station_ct_select["start_station_name"].values.tolist()
start_station_id = station_ct_select["ct"].values.tolist()

In [34]:
#popular end station

station_end_ct_sql =('SELECT city, end_station_name, COUNT(end_station_id) as ct '
                 'FROM trip JOIN station on trip.start_station_id = station.id '
                 'GROUP BY city, end_station_name')

station_end_ct = pd.read_sql(station_end_ct_sql, engine.connect())
station_end_ct

              city                               end_station_name     ct
0    Mountain View                       Arena Green / SAP Center      1
1    Mountain View                California Ave Caltrain Station    108
2    Mountain View               Castro Street and El Camino Real   1809
3    Mountain View              Civic Center BART (7th at Market)      1
4    Mountain View                           Cowper at University      9
5    Mountain View                           Evelyn Park and Ride   1364
6    Mountain View                              Franklin at Maple      1
7    Mountain View                                  Howard at 2nd      2
8    Mountain View                                      Japantown      3
9    Mountain View                                 Market at 10th      2
10   Mountain View                                  Market at 4th      2
11   Mountain View                 Mountain View Caltrain Station   6654
12   Mountain View                        Mountain View City Hall   3269
13   Mountain View                     Palo Alto Caltrain Station     40
14   Mountain View                                  Park at Olive    108
15   Mountain View                  Redwood City Caltrain Station      1
16   Mountain View          Rengstorff Avenue / California Street   1042
17   Mountain View                   San Antonio Caltrain Station   1893
18   Mountain View                    San Antonio Shopping Center   1715
19   Mountain View       San Francisco Caltrain (Townsend at 4th)      2
20   Mountain View                          San Jose Civic Center      1
21   Mountain View              San Jose Diridon Caltrain Station      4
22   Mountain View                            San Salvador at 1st      1
23   Mountain View                Santa Clara County Civic Center      3
24   Mountain View                                  St James Park      2
25   Mountain View                       Stanford in Redwood City      2
26   Mountain View                         University and Emerson    128
27       Palo Alto                                Beale at Market      1
28       Palo Alto                               Broadway at Main      3
29       Palo Alto                California Ave Caltrain Station   1025
..             ...                                            ...    ...
110  San Francisco                                Townsend at 7th  26637
111  San Francisco                         University and Emerson      3
112  San Francisco                          Washington at Kearney   1772
113  San Francisco                           Washington at Kearny   5461
114  San Francisco  Yerba Buena Center of the Arts (3rd @ Howard)  12140
115       San Jose                               Adobe on Almaden   1169
116       San Jose                       Arena Green / SAP Center   1367
117       San Jose                California Ave Caltrain Station      1
118       San Jose              Civic Center BART (7th at Market)      1
119       San Jose                           Cowper at University      3
120       San Jose                                      Japantown   2197
121       San Jose                                    MLK Library   2508
122       San Jose                                  Market at 4th      2
123       San Jose                 Mountain View Caltrain Station      9
124       San Jose                           Paseo de San Antonio   2497
125       San Jose          Rengstorff Avenue / California Street      2
126       San Jose                                    Ryland Park   1441
127       San Jose                     SJSU - San Salvador at 9th   1472
128       San Jose                         SJSU 4th at San Carlos   1437
129       San Jose                    San Antonio Shopping Center      3
130       San Jose       San Francisco Caltrain (Townsend at 4th)      1
131       San Jose                             San Jose City Hall   1657
132       San Jose                          San Jose Civic Center   1785
133       San Jose              San Jose Diridon Caltrain Station   9410
134       San Jose                     San Jose Government Center     23
135       San Jose                               San Pedro Square   3163
136       San Jose                            San Salvador at 1st   1706
137       San Jose                Santa Clara County Civic Center    833
138       San Jose                         Santa Clara at Almaden   3705
139       San Jose                                  St James Park   1486

[140 rows x 3 columns]

In [35]:
city='San Francisco'
station_end_ct_select = station_end_ct[station_end_ct["city"]==city].nlargest(10, 'ct')
station_end_ct_select

              city                               end_station_name     ct
99   San Francisco       San Francisco Caltrain (Townsend at 4th)  63167
100  San Francisco        San Francisco Caltrain 2 (330 Townsend)  35117
83   San Francisco           Harry Bridges Plaza (Ferry Building)  33193
79   San Francisco                         Embarcadero at Sansome  30796
69   San Francisco                                2nd at Townsend  28529
87   San Francisco                              Market at Sansome  28032
110  San Francisco                                Townsend at 7th  26637
108  San Francisco                              Steuart at Market  25025
109  San Francisco  Temporary Transbay Terminal (Howard at Beale)  23080
86   San Francisco                                  Market at 4th  19911

In [36]:
end_station_names = station_end_ct_select["end_station_name"].values.tolist()
end_start_station_id = station_end_ct_select["ct"].values.tolist()

In [37]:
end_station_names

['San Francisco Caltrain (Townsend at 4th)',
 'San Francisco Caltrain 2 (330 Townsend)',
 'Harry Bridges Plaza (Ferry Building)',
 'Embarcadero at Sansome',
 '2nd at Townsend',
 'Market at Sansome',
 'Townsend at 7th',
 'Steuart at Market',
 'Temporary Transbay Terminal (Howard at Beale)',
 'Market at 4th']

In [ ]:
results = session.query(Trip.start_station_name, func.count(Trip.start_station_id))
.group_by(Trip.start_station_name).order_by(func.count(Trip.start_station_id).desc()).limit(20).all()

In [43]:
top_start_sql = ('SELECT start_station_name, COUNT(start_station_id) as ct FROM trip GROUP BY start_station_name')
top_start = pd.read_sql(top_start_sql, engine.connect())
top_start_20 = top_start.nlargest(20, 'ct')

start_station = top_start_20["start_station_name"].values.tolist()
start_ct = top_start_20["ct"].values.tolist()

In [46]:
top_end_sql = ('SELECT end_station_name, COUNT(end_station_id) as ct FROM trip GROUP BY end_station_name')
top_end = pd.read_sql(top_end_sql, engine.connect())
top_end_20 = top_end.nlargest(20, 'ct')

end_station = top_end_20["end_station_name"].values.tolist()
end_ct = top_end_20["ct"].values.tolist()

In [47]:
end_station

['San Francisco Caltrain (Townsend at 4th)',
 'San Francisco Caltrain 2 (330 Townsend)',
 'Harry Bridges Plaza (Ferry Building)',
 'Embarcadero at Sansome',
 '2nd at Townsend',
 'Market at Sansome',
 'Townsend at 7th',
 'Steuart at Market',
 'Temporary Transbay Terminal (Howard at Beale)',
 'Market at 4th',
 'Powell Street BART',
 'Market at 10th',
 '2nd at South Park',
 '5th at Howard',
 'Civic Center BART (7th at Market)',
 'Howard at 2nd',
 'Embarcadero at Folsom',
 'Embarcadero at Bryant',
 'Embarcadero at Vallejo',
 'Beale at Market']

In [69]:
Base.classes.keys()

AttributeError: type object 'Base' has no attribute 'classes'

In [59]:
from sqlalchemy import inspect

In [60]:
inspector = inspect(engine)

for table_name in inspector.get_table_names():
    print(table_name)

station
status
trip
weather

In [61]:
status = Base.classes.status

AttributeError: status

In [20]:
from sqlalchemy import MetaData
from sqlalchemy import Table

metadata = MetaData()
print(metadata.tables)

immutabledict({})

In [21]:
metadata.reflect(bind=engine)
print(metadata.tables)

immutabledict({'station': Table('station', MetaData(bind=None), Column('id', INTEGER(), table=<station>, primary_key=True, nullable=False), Column('name', TEXT(), table=<station>), Column('lat', NUMERIC(), table=<station>), Column('long', NUMERIC(), table=<station>), Column('dock_count', INTEGER(), table=<station>), Column('city', TEXT(), table=<station>), Column('installation_date', TEXT(), table=<station>), schema=None), 'status': Table('status', MetaData(bind=None), Column('station_id', INTEGER(), table=<status>), Column('bikes_available', INTEGER(), table=<status>), Column('docks_available', INTEGER(), table=<status>), Column('time', TEXT(), table=<status>), schema=None), 'trip': Table('trip', MetaData(bind=None), Column('id', INTEGER(), table=<trip>, primary_key=True, nullable=False), Column('duration', INTEGER(), table=<trip>), Column('start_date', TEXT(), table=<trip>), Column('start_station_name', TEXT(), table=<trip>), Column('start_station_id', INTEGER(), table=<trip>), Column('end_date', TEXT(), table=<trip>), Column('end_station_name', TEXT(), table=<trip>), Column('end_station_id', INTEGER(), table=<trip>), Column('bike_id', INTEGER(), table=<trip>), Column('subscription_type', TEXT(), table=<trip>), Column('zip_code', INTEGER(), table=<trip>), schema=None), 'weather': Table('weather', MetaData(bind=None), Column('date', TEXT(), table=<weather>), Column('max_temperature_f', INTEGER(), table=<weather>), Column('mean_temperature_f', INTEGER(), table=<weather>), Column('min_temperature_f', INTEGER(), table=<weather>), Column('max_dew_point_f', INTEGER(), table=<weather>), Column('mean_dew_point_f', INTEGER(), table=<weather>), Column('min_dew_point_f', INTEGER(), table=<weather>), Column('max_humidity', INTEGER(), table=<weather>), Column('mean_humidity', INTEGER(), table=<weather>), Column('min_humidity', INTEGER(), table=<weather>), Column('max_sea_level_pressure_inches', NUMERIC(), table=<weather>), Column('mean_sea_level_pressure_inches', NUMERIC(), table=<weather>), Column('min_sea_level_pressure_inches', NUMERIC(), table=<weather>), Column('max_visibility_miles', INTEGER(), table=<weather>), Column('mean_visibility_miles', INTEGER(), table=<weather>), Column('min_visibility_miles', INTEGER(), table=<weather>), Column('max_wind_Speed_mph', INTEGER(), table=<weather>), Column('mean_wind_speed_mph', INTEGER(), table=<weather>), Column('max_gust_speed_mph', INTEGER(), table=<weather>), Column('precipitation_inches', INTEGER(), table=<weather>), Column('cloud_cover', INTEGER(), table=<weather>), Column('events', TEXT(), table=<weather>), Column('wind_dir_degrees', INTEGER(), table=<weather>), Column('zip_code', INTEGER(), table=<weather>), schema=None)})

In [44]:
statusTable = Table('status', metadata, Column('station_id', Integer, primary_key=True), autoload=True, autoload_with=engine)
for c in statusTable.columns:
    print(c.name)

InvalidRequestError: Table 'status' is already defined for this MetaData instance.  Specify 'extend_existing=True' to redefine options and columns on an existing Table object.

In [26]:
stationTable = Table('station', metadata, autoload=True, autoload_with=engine)
for c in stationTable.columns:
    print(c.name)

id
name
lat
long
dock_count
city
installation_date

In [27]:
tripTable = Table('trip', metadata, autoload=True, autoload_with=engine)
for c in tripTable.columns:
    print(c.name)

id
duration
start_date
start_station_name
start_station_id
end_date
end_station_name
end_station_id
bike_id
subscription_type
zip_code

In [29]:
weatherTable = Table('weather', metadata, autoload=True, autoload_with=engine)
weatherCol = []
for c in weatherTable.columns:
    weatherCol.append(c.name)

['date']
['date', 'max_temperature_f']
['date', 'max_temperature_f', 'mean_temperature_f']
['date', 'max_temperature_f', 'mean_temperature_f', 'min_temperature_f']
['date', 'max_temperature_f', 'mean_temperature_f', 'min_temperature_f', 'max_dew_point_f']
['date', 'max_temperature_f', 'mean_temperature_f', 'min_temperature_f', 'max_dew_point_f', 'mean_dew_point_f']
['date', 'max_temperature_f', 'mean_temperature_f', 'min_temperature_f', 'max_dew_point_f', 'mean_dew_point_f', 'min_dew_point_f']
['date', 'max_temperature_f', 'mean_temperature_f', 'min_temperature_f', 'max_dew_point_f', 'mean_dew_point_f', 'min_dew_point_f', 'max_humidity']
['date', 'max_temperature_f', 'mean_temperature_f', 'min_temperature_f', 'max_dew_point_f', 'mean_dew_point_f', 'min_dew_point_f', 'max_humidity', 'mean_humidity']
['date', 'max_temperature_f', 'mean_temperature_f', 'min_temperature_f', 'max_dew_point_f', 'mean_dew_point_f', 'min_dew_point_f', 'max_humidity', 'mean_humidity', 'min_humidity']
['date', 'max_temperature_f', 'mean_temperature_f', 'min_temperature_f', 'max_dew_point_f', 'mean_dew_point_f', 'min_dew_point_f', 'max_humidity', 'mean_humidity', 'min_humidity', 'max_sea_level_pressure_inches']
['date', 'max_temperature_f', 'mean_temperature_f', 'min_temperature_f', 'max_dew_point_f', 'mean_dew_point_f', 'min_dew_point_f', 'max_humidity', 'mean_humidity', 'min_humidity', 'max_sea_level_pressure_inches', 'mean_sea_level_pressure_inches']
['date', 'max_temperature_f', 'mean_temperature_f', 'min_temperature_f', 'max_dew_point_f', 'mean_dew_point_f', 'min_dew_point_f', 'max_humidity', 'mean_humidity', 'min_humidity', 'max_sea_level_pressure_inches', 'mean_sea_level_pressure_inches', 'min_sea_level_pressure_inches']
['date', 'max_temperature_f', 'mean_temperature_f', 'min_temperature_f', 'max_dew_point_f', 'mean_dew_point_f', 'min_dew_point_f', 'max_humidity', 'mean_humidity', 'min_humidity', 'max_sea_level_pressure_inches', 'mean_sea_level_pressure_inches', 'min_sea_level_pressure_inches', 'max_visibility_miles']
['date', 'max_temperature_f', 'mean_temperature_f', 'min_temperature_f', 'max_dew_point_f', 'mean_dew_point_f', 'min_dew_point_f', 'max_humidity', 'mean_humidity', 'min_humidity', 'max_sea_level_pressure_inches', 'mean_sea_level_pressure_inches', 'min_sea_level_pressure_inches', 'max_visibility_miles', 'mean_visibility_miles']
['date', 'max_temperature_f', 'mean_temperature_f', 'min_temperature_f', 'max_dew_point_f', 'mean_dew_point_f', 'min_dew_point_f', 'max_humidity', 'mean_humidity', 'min_humidity', 'max_sea_level_pressure_inches', 'mean_sea_level_pressure_inches', 'min_sea_level_pressure_inches', 'max_visibility_miles', 'mean_visibility_miles', 'min_visibility_miles']
['date', 'max_temperature_f', 'mean_temperature_f', 'min_temperature_f', 'max_dew_point_f', 'mean_dew_point_f', 'min_dew_point_f', 'max_humidity', 'mean_humidity', 'min_humidity', 'max_sea_level_pressure_inches', 'mean_sea_level_pressure_inches', 'min_sea_level_pressure_inches', 'max_visibility_miles', 'mean_visibility_miles', 'min_visibility_miles', 'max_wind_Speed_mph']
['date', 'max_temperature_f', 'mean_temperature_f', 'min_temperature_f', 'max_dew_point_f', 'mean_dew_point_f', 'min_dew_point_f', 'max_humidity', 'mean_humidity', 'min_humidity', 'max_sea_level_pressure_inches', 'mean_sea_level_pressure_inches', 'min_sea_level_pressure_inches', 'max_visibility_miles', 'mean_visibility_miles', 'min_visibility_miles', 'max_wind_Speed_mph', 'mean_wind_speed_mph']
['date', 'max_temperature_f', 'mean_temperature_f', 'min_temperature_f', 'max_dew_point_f', 'mean_dew_point_f', 'min_dew_point_f', 'max_humidity', 'mean_humidity', 'min_humidity', 'max_sea_level_pressure_inches', 'mean_sea_level_pressure_inches', 'min_sea_level_pressure_inches', 'max_visibility_miles', 'mean_visibility_miles', 'min_visibility_miles', 'max_wind_Speed_mph', 'mean_wind_speed_mph', 'max_gust_speed_mph']
['date', 'max_temperature_f', 'mean_temperature_f', 'min_temperature_f', 'max_dew_point_f', 'mean_dew_point_f', 'min_dew_point_f', 'max_humidity', 'mean_humidity', 'min_humidity', 'max_sea_level_pressure_inches', 'mean_sea_level_pressure_inches', 'min_sea_level_pressure_inches', 'max_visibility_miles', 'mean_visibility_miles', 'min_visibility_miles', 'max_wind_Speed_mph', 'mean_wind_speed_mph', 'max_gust_speed_mph', 'precipitation_inches']
['date', 'max_temperature_f', 'mean_temperature_f', 'min_temperature_f', 'max_dew_point_f', 'mean_dew_point_f', 'min_dew_point_f', 'max_humidity', 'mean_humidity', 'min_humidity', 'max_sea_level_pressure_inches', 'mean_sea_level_pressure_inches', 'min_sea_level_pressure_inches', 'max_visibility_miles', 'mean_visibility_miles', 'min_visibility_miles', 'max_wind_Speed_mph', 'mean_wind_speed_mph', 'max_gust_speed_mph', 'precipitation_inches', 'cloud_cover']
['date', 'max_temperature_f', 'mean_temperature_f', 'min_temperature_f', 'max_dew_point_f', 'mean_dew_point_f', 'min_dew_point_f', 'max_humidity', 'mean_humidity', 'min_humidity', 'max_sea_level_pressure_inches', 'mean_sea_level_pressure_inches', 'min_sea_level_pressure_inches', 'max_visibility_miles', 'mean_visibility_miles', 'min_visibility_miles', 'max_wind_Speed_mph', 'mean_wind_speed_mph', 'max_gust_speed_mph', 'precipitation_inches', 'cloud_cover', 'events']
['date', 'max_temperature_f', 'mean_temperature_f', 'min_temperature_f', 'max_dew_point_f', 'mean_dew_point_f', 'min_dew_point_f', 'max_humidity', 'mean_humidity', 'min_humidity', 'max_sea_level_pressure_inches', 'mean_sea_level_pressure_inches', 'min_sea_level_pressure_inches', 'max_visibility_miles', 'mean_visibility_miles', 'min_visibility_miles', 'max_wind_Speed_mph', 'mean_wind_speed_mph', 'max_gust_speed_mph', 'precipitation_inches', 'cloud_cover', 'events', 'wind_dir_degrees']
['date', 'max_temperature_f', 'mean_temperature_f', 'min_temperature_f', 'max_dew_point_f', 'mean_dew_point_f', 'min_dew_point_f', 'max_humidity', 'mean_humidity', 'min_humidity', 'max_sea_level_pressure_inches', 'mean_sea_level_pressure_inches', 'min_sea_level_pressure_inches', 'max_visibility_miles', 'mean_visibility_miles', 'min_visibility_miles', 'max_wind_Speed_mph', 'mean_wind_speed_mph', 'max_gust_speed_mph', 'precipitation_inches', 'cloud_cover', 'events', 'wind_dir_degrees', 'zip_code']

In [53]:
class status(Base):
    __tablename__ = 'status'
    
    station_id = Column(Integer, primary_key=True)

InvalidRequestError: Table 'status' is already defined for this MetaData instance.  Specify 'extend_existing=True' to redefine options and columns on an existing Table object.

In [37]:
class weather(Base):
    __tablename__ = 'user'

    id = Column(Integer, primary_key=True)

/Users/mochathereal/anaconda3/lib/python3.6/site-packages/sqlalchemy/ext/declarative/clsregistry.py:120: SAWarning: This declarative base already contains a class with the same class name and module name as sqlalchemy.ext.automap.station, and will be replaced in the string-lookup table.
  item.__name__
/Users/mochathereal/anaconda3/lib/python3.6/site-packages/sqlalchemy/ext/declarative/clsregistry.py:120: SAWarning: This declarative base already contains a class with the same class name and module name as sqlalchemy.ext.automap.trip, and will be replaced in the string-lookup table.
  item.__name__

ArgumentError: Mapper Mapper|weather|weather could not assemble any primary key columns for mapped table 'weather'

In [45]:
Base.classes.keys()

['station', 'trip']